
.icon-dice:before { content: '\e800'; } /* '' */
.icon-info:before { content: '\e801'; } /* '' */
.icon-license:before { content: '\e802'; } /* '' */
.icon-new:before { content: '\e803'; } /* '' */
.icon-notification:before { content: '\e804'; } /* '' */
.icon-rake:before { content: '\e805'; } /* '' */
.icon-slots:before { content: '\e806'; } /* '' */
.icon-social-medium:before { content: '\e807'; } /* '' */
.icon-social-telegram:before { content: '\e808'; } /* '' */
.icon-social-twitter:before { content: '\e809'; } /* '' */
.icon-star:before { content: '\e80a'; } /* '' */
.icon-supplier-betsoft:before { content: '\e80b'; } /* '' */
.icon-supplier-bongo:before { content: '\e80c'; } /* '' */
.icon-supplier-caleta:before { content: '\e80d'; } /* '' */
.icon-supplier-evolution:before { content: '\e80e'; } /* '' */
.icon-supplier-gameart:before { content: '\e80f'; } /* '' */
.icon-supplier-goldenhero:before { content: '\e810'; } /* '' */
.icon-supplier-kalamba:before { content: '\e811'; } /* '' */
.icon-supplier-microgaming:before { content: '\e812'; } /* '' */
.icon-supplier-netent:before { content: '\e813'; } /* '' */
.icon-supplier-onetouch:before { content: '\e814'; } /* '' */
.icon-supplier-pragmatic:before { content: '\e815'; } /* '' */
.icon-supplier-spribe:before { content: '\e816'; } /* '' */
.icon-supplier-wazdan:before { content: '\e817'; } /* '' */
.icon-supplier-yggdrasil:before { content: '\e818'; } /* '' */
.icon-trx:before { content: '\e819'; } /* '' */
.icon-usdt:before { content: '\e81a'; } /* '' */
.icon-windrops:before { content: '\e81b'; } /* '' */
.icon-w-wink:before { content: '\e81c'; } /* '' */
.icon-alert:before { content: '\e81d'; } /* '' */
.icon-blink-logo:before { content: '\e81e'; } /* '' */
.icon-casino:before { content: '\e81f'; } /* '' */
.icon-copy:before { content: '\e820'; } /* '' */
.icon-crypto-bnb:before { content: '\e821'; } /* '' */
.icon-crypto-btc:before { content: '\e822'; } /* '' */
.icon-crypto-trx:before { content: '\e823'; } /* '' */
.icon-deposit:before { content: '\e824'; } /* '' */
.icon-trophy:before { content: '\e825'; } /* '' */
.icon-polo:before { content: '\e826'; } /* '' */
.icon-jst:before { content: '\e827'; } /* '' */
.icon-burn:before { content: '\e828'; } /* '' */
.icon-wink:before { content: '\e829'; } /* '' */
.icon-btt:before { content: '\e82a'; } /* '' */
.icon-bnb:before { content: '\e82b'; } /* '' */
.icon-swap:before { content: '\e82c'; } /* '' */
.icon-xmas:before { content: '\e82d'; } /* '' */
.icon-giftbox:before { content: '\e82e'; } /* '' */
.icon-announcement:before { content: '\e82f'; } /* '' */
.icon-tasks:before { content: '\e830'; } /* '' */
.icon-equally:before { content: '\e831'; } /* '' */
.icon-arrow-direction:before { content: '\e832'; } /* '' */
.icon-arrow-up:before { content: '\e833'; } /* '' */
.icon-user-system:before { content: '\e834'; } /* '' */
.icon-error:before { content: '\e835'; } /* '' */
.icon-check-mark:before { content: '\e836'; } /* '' */
.icon-youtube:before { content: '\e837'; } /* '' */
.icon-sound:before { content: '\e838'; } /* '' */
.icon-card-diamonds:before { content: '\e839'; } /* '' */
.icon-card-spades:before { content: '\e83a'; } /* '' */
.icon-card-clubs:before { content: '\e83b'; } /* '' */
.icon-card-hearts:before { content: '\e83c'; } /* '' */
.icon-blk-console:before { content: '\e83d'; } /* '' */
.icon-blk-dice:before { content: '\e83e'; } /* '' */
.icon-blk-messenger:before { content: '\e840'; } /* '' */
.icon-blk-quality:before { content: '\e841'; } /* '' */
.icon-blk-smile:before { content: '\e842'; } /* '' */
.icon-blk-telegram:before { content: '\e843'; } /* '' */
.icon-blk-trophy:before { content: '\e844'; } /* '' */
.icon-blk-user:before { content: '\e845'; } /* '' */
.icon-blk-wallet:before { content: '\e846'; } /* '' */
.icon-blk-question:before { content: '\e847'; } /* '' */