.currency-picker {
    position: relative;
    z-index: 11;
    display: flex;
    margin: 0 15px;
    width: calc(100% - 30px);
    padding: 3px 0;
    background: $bg-light-color;

    .currencies {
        display: flex;
        width: calc(100% - 90px);

        .en & {
            padding-left: 15px;
        }

        .ar & {
            padding-right: 15px;
        }

        label {
            display: flex;
            align-items: center;
            align-self: flex-start;
            width: 60px;
            height: 30px;
            color: $white-color;
            font-weight: 600;
            font-size: $font-size-xs;
        }

        .currency-list {
            display: flex;
            flex-wrap: wrap;
            width: calc(100% - 60px);

            li {
                padding: 2px;

                .link {
                    display: flex;
                    height: 26px;
                    padding: 0 4px;
                    align-items: center;
                    justify-content: center;
                    color: $text-color;
                    border-radius: 2px;
                    font-size: $font-size-xs;
                    text-transform: uppercase;

                    .icon {
                        width: 16px;
                        height: 16px;
                        opacity: 0.25;

                        .en & {
                            margin-right: 4px;
                        }
    
                        .ar & {
                            margin-left: 4px;
                        }

                        &.icon-btc, &.icon-dice, &.icon-live, &.icon-sun {
                            display: flex;
                            width: 16px;
                            height: 16px;
                        }

                        &.icon-btc {
                            background: url('../img/icon-btc.svg') no-repeat;
                            background-size: 16px;
                        }

                        &.icon-dice {
                            background: url('../img/icon-dice.svg') no-repeat;
                            background-size: 16px;
                        }

                        &.icon-live {
                            background: url('../img/icon-live.svg') no-repeat;
                            background-size: 16px;
                        }

                        &.icon-sun {
                            background: url('../img/icon-sun.svg') no-repeat;
                            background-size: 16px;
                        }

                        &.icon-win {
                            background: url('../img/wink-logo.svg') no-repeat center;
                            background-size: 16px auto;
                        }

                        .wnk-icon {
                            display: flex;
                            width: 16px;
                            height: 16px;
                            justify-content: center;
                            align-items: center;
                            font-size: $font-size-md;
                            color: $white-color;

                            &.icon-trx {
                                color: $red-color;
                            }

                            &.icon-usdt {
                                color: $green-color;
                            }

                            &.icon-icon-just {
                                border-radius: 8px;
                                font-size: 10px;
                                background: $red-color;
                            }
                        }
                    }

                    &:hover {
                        color: $white-color;
                        transition: 0.3s color ease-in-out;
                        
                        .icon {
                            opacity: 1;
                            transition: 0.3s opacity ease-in-out;
                        }
                    }

                    &.active {
                        color: $white-color;
                        background: $btn-hover-color;

                        .icon {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .game-nav {
        display: flex;
        align-items: center;
        width: 60px;
        justify-content: flex-end;

        .en & {
            padding-right: 15px;
        }

        .ar & {
            padding-left: 15px;
        }

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 18px;
            height: 18px;
            cursor: pointer;

            &.disabled {
                .wnk-icon {
                    color: $text-color;
                }
            }

            .en & {
                margin-left: 10px;
            }
    
            .ar & {
                margin-right: 10px;
            }

            .wnk-icon {
                font-size: 18px;
                color: $white-color;
            }
        }
    }

    @media screen and (max-width: 992px) {
        .currencies {
            position: relative;

            .currency-list {
                position: absolute;
                left: 75px;
                top: 0;
                width: 66px;
                height: 30px;
                background: transparent;

                li {
                    display: none;
                    width: calc(20% - 4px);
                    opacity: 0;

                    .link {
                        width: calc(100% - 8px);
                        justify-content: flex-start;
                    }

                    &:first-child {
                        display: flex;
                        opacity: 1;
                        width: calc(100% - 4px);
                    }
                }
                
                &.show-all {
                    left: 0;
                    width: calc(100% + 75px);
                    height: 90px;
                    border-radius: 3px;
                    background: $bg-light-color;
                    transition: 0.3s all ease-in-out;

                    li {
                        display: block;
                        opacity: 1;
                        transition: 0.3s opacity ease-in-out;

                        &:first-child {
                            display: flex;
                            opacity: 1;
                            width: calc(20% - 4px);
                        }
                    }
                }                
            }
        }
    }

    @media screen and (max-width: 576px) {
        .currencies {
            .currency-list {
                li {
                    width: calc(33.33% - 4px);
                }
                
                &.show-all {
                    height: 120px;
                    li {
                        &:first-child {
                            width: calc(33.33% - 4px);
                        }
                    }
                }                
            }
        }
    }
}