.daily-tasks {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 10px);
    padding: 0 5px;

    h1, h2 {
        display: flex;
        width: calc(100% - 10px);
        margin-bottom: 20px;
        height: 40px;
        padding: 5px;
        align-items: center;
        justify-content: center;
        color: $white-color;
        font-weight: 600;
        line-height: 1.2;
        font-size: $font-size-lg;

        .highlight {
            color: $orange-color;
            padding: 0 6px;
            font-size: $font-size-lg;
        }
    }

    .game-task {
        margin: 0 10px 20px 10px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: calc(50% - 20px);
        background: $bg-light-color;
        border-radius: 3px;

        .game-header {
            display: flex;
            align-items: center;
            width: calc(100% - 30px);
            height: 50px;
            padding: 0 15px;
            border-radius: 3px 3px 0 0;
            background: $sub-nav-bg;

            label {
                display: flex;
                align-items: center;
                width: calc(100% - 80px);
                font-size: $font-size-md;
                color: $white-color;
                font-weight: 600;

                .game-icon {
                    display: flex;
                    width: 36px;
                    height: 36px;

                    .en & {
                        margin-right: 10px;
                    }

                    .ar & {
                        margin-left: 10px;
                    }

                    &.dice-game {
                        background: url('../img/dice-game.svg') no-repeat center;
                        background-size: 36px auto;
                    }

                    &.moon-game {
                        background: url('../img/moon-game.svg') no-repeat center;
                        background-size: 36px auto;
                    }

                    &.ring-game {
                        background: url('../img/ring-game.svg') no-repeat center;
                        background-size: 36px auto;
                    }

                    &.hilo-game {
                        background: url('../img/hilo-game.svg') no-repeat center;
                        background-size: 36px auto;
                    }
                }
            }

            .min-bet {
                display: flex;
                flex-wrap: wrap;
                width: 80px;
                align-items: center;
                justify-content: flex-end;
                font-size: $font-size-xs;
                color: $text-color;

                .amount {
                    width: 100%;
                    text-align: right;
                }
            }
        }

        .table-responsive {
            width: 100%;
            border-radius: 0 0 3px 3px;
            color: $text-color;

            table {
                width: 100%;
                border-spacing: 0;

                .en & {
                    text-align: left;
                }

                .ar & {
                    text-align: right;
                }

                thead {
                    th {
                        height: 36px;
                        font-weight: normal;
                        vertical-align: middle;
                        border-bottom: 2px solid $btn-hover-color;

                        .en & {
                            padding-left: 15px;
                        }
        
                        .ar & {
                            padding-right: 15px;
                        }
                    }
                }

                tbody {
                    tr {
                        &:nth-child(even) {
                            background: $btn-hover-color;
                        }

                        td {
                            padding-top: 5px;
                            padding-bottom: 5px;
                            min-height: 40px;
                            font-weight: normal;
                            vertical-align: middle;

                            .en & {
                                padding-left: 15px;
                            }
            
                            .ar & {
                                padding-right: 15px;
                            }

                            &.task {
                                width: calc(50% - 95px);
                            }

                            &.progress, &.reward {
                                width: 15%;
                            }

                            &.btn {
                                width: 80px;
                                text-align: right;

                                .en & {
                                    padding-right: 15px;
                                }
                
                                .ar & {
                                    padding-left: 15px;
                                }

                                .btn-claim {
                                    width: 80px;
                                    height: 30px;
                                    align-items: center;
                                    justify-content: center;
                                    padding: 0;
                                    color: $white-color;
                                    border-radius: 15px;
                                    font-size: $font-size-xs;
                                    cursor: default;
                                    background: $text-color;
                                    outline: none;
                                    border: none;

                                    .en & {
                                        margin-left: 10px;
                                    }
                    
                                    .ar & {
                                        margin-right: 10px;
                                    }
                        
                                    &:hover {
                                        background: $text-color;
                                        transition: 0.3s background-color ease-in-out;
                                    }
                        
                                    &.hide {
                                        display: none;
                                    }
                                }
                            }
                        }

                        &.activated {
                            td {
                                color: $white-color;

                                &.reward {
                                    color: $orange-color;
                                }

                                &.btn {
                                    .btn-claim {
                                        color: $white-color;
                                        cursor: pointer;
                                        background: $red-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.my-balances {
                table {
                    tbody {
                        tr {
                            td {
                                height: 50px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1080px) {
        .game-task {
            width: calc(100% - 20px);
        }
    }
}