.footer {
    margin-top: auto;
    background: $bg-dark-color;

    .ft-content {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        width: 1260px;
        padding: 15px 0 10px 0;

        .col {
            margin: 0 10px;
            width: calc(22% - 20px);

            &:first-child {
                width: calc(34% - 100px);
                padding-right: 80px;
            }

            label {
                display: block;
                padding: 20px 0 11px 0;
                color: $white-color;
                font-size: $font-size-sm;
                text-transform: uppercase;
                font-weight: 600;
            }

            iframe {
                margin: 10px 0;
                width: 150px;
                height: 50px;
            }

            p, a {
                line-height: 24px;
                color: $text-color;
            }

            p {
                margin-bottom: 24px;
            }

            ul {
                li {
                    color: $text-color;

                    a {
                        text-decoration: underline;

                        &:hover {
                            color: $orange-color;
                            transition: 0.3s color ease-in-out;
                        }
                    }
                }
            }

            .btn-social {
                display: inline-block;
                margin: 0 10px 10px 0;
                width: 16px;
                height: 16px;
                padding: 7px;
                border-radius: 15px;
                background: $text-color;

                .wnk-icon {
                    display: block;
                    width: 16px;
                    height: 16px;
                    color: $white-color;
                    font-size: 16px;
                }

                &:hover {
                    background: $white-color;
                    transition: 0.3s all ease-in-out;

                    .wnk-icon {
                        color: $bg-dark-color;
                        transition: 0.3s all ease-in-out;
                    }
                }
            }
        }

        @media screen and (max-width: 1380px) {
            margin: 0 5px;
            width: calc(100% - 10px);
        }

        @media screen and (max-width: 992px) {
            .col {
                margin: 0 10px;
                width: calc(18% - 20px);

                &:first-child {
                    width: calc(46% - 60px);
                    padding-right: 40px;
                }
            }
        }

        @media screen and (max-width: 768px) {
            .col {
                margin: 0 10px;
                width: calc(33.33% - 20px);

                &:first-child {
                    width: calc(100% - 20px);
                    padding-right: 0;
                }
            }
        }

        @media screen and (max-width: 420px) {
            .col {
                margin: 0 10px;
                width: calc(50% - 20px);

                &:first-child {
                    width: calc(100% - 20px);
                    padding-right: 0;
                }
            }
        }

        @media screen and (max-width: 375px) {
            padding: 0;

            .col {
                &:last-child {
                    width: calc(100% - 20px);
                }
                
                p:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}