.help-center {
    margin: 0 5px;
    width: calc(100% - 10px);

    h1 {
        display: flex;
        width: calc(100% - 20px);
        height: 40px;
        padding: 5px 10px;
        align-items: center;
        justify-content: center;
        color: $white-color;
        font-weight: 600;
        line-height: 1.2;
        font-size: $font-size-lg;

        .for-you {
            color: $orange-color;
            font-size: $font-size-lg;

            .en & {
                padding-left: 6px;
            }

            .ar & {
                padding-right: 6px;
            }
        }
    }

    .videos {
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .video {
            margin: 10px;
            width: calc(20% - 20px);
            height: 170px;

            iframe {
                border-radius: 3px;
            }

            .link {
                display: flex;
                width: 100%;
                height: 30px;
                line-height: 1.2;
                align-items: center;
                color: $text-color;
                justify-content: center;
                text-decoration: underline;

                &:hover {
                    color: $orange-color;
                    transition: 0.3s color ease-in-out;
                }
            }
        }
    }

    .faq {
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .faq-nav {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 20%;

            .en & {
                margin-left: 10px;
            }

            .ar & {
                margin-right: 10px;
            }

            .tab {
                display: flex;
                width: calc(100% - 15px);
                min-height: 36px;
                align-items: center;
                font-size: $font-size-sm;
                font-weight: 600;
                color: $text-color;
                cursor: pointer;

                .en & {
                    padding-left: 13px;
                    border-left: 2px solid;
                    border-color: $bg-color;
                    border-radius: 3px 0 0 3px;
                }
    
                .ar & {
                    padding-right: 13px;
                    border-right: 2px solid;
                    border-color: $bg-color;
                    border-radius: 0 3px 3px 0;
                }

                &.active, &:hover {
                    color: $white-color;
                    border-color: $orange-color;
                    background: $bg-light-color;
                    transition: 0.3s all ease-in-out;
                }
            }
        }

        .faq-content {
            width: calc(80% - 20px);
            background: $bg-light-color;
            border-radius: 0 3px 3px 3px;

            .en & {
                margin-right: 10px;
            }

            .ar & {
                margin-left: 10px;
            }

            .topic {
                overflow: hidden;
                border-bottom: 1px solid $bg-color;

                &:last-child {
                    border-bottom: none;
                }

                .question {
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: calc(100% - 45px);
                    min-height: 26px;
                    color: $text-color;
                    cursor: pointer;

                    .en & {
                        padding: 5px 30px 5px 15px;
                    }
        
                    .ar & {
                        padding: 5px 15px 5px 30px;
                    }

                    .arrow {
                        position: absolute;
                        display: flex;
                        top: 14px;
                        transform: rotate(-90deg);
                        width: 6px;
                        height: 8px;

                        .en & {
                            right: 10px;
                        }
            
                        .ar & {
                            left: 10px;
                        }

                        &:after, &:before {
                            position: absolute;
                            display: block;
                            top: 0;
                            width: 1px;
                            height: 7px;
                            content:'';
                            background: $text-color;
                        }

                        &:after {
                            right: 0;
                            transform: rotate(45deg);
                        }

                        &:before {
                            left: 0;
                            transform: rotate(-45deg);
                        }
                    }

                    &:hover {
                        color: $white-color;
                        transition: 0.3s color ease-in-out;

                        .arrow {
                            &:after, &:before {
                                background: $orange-color;
                                transition: 0.3s background-color ease-in-out;
                            }
                        }
                    }
                }

                .faq-body {
                    display: none;
                    width: calc(100% - 30px);
                    padding: 0 15px 10px 15px;

                    p {
                        display: block;
                        padding: 5px 0;
                        color: $text-color;

                        a {
                            text-decoration: underline;
                            color: $text-color;

                            &:hover {
                                color: $orange-color;
                                transition: 0.3s color ease-in-out;
                            }
                        }
                    }
                }

                &.opened {
                    .question {
                        color: $white-color;

                        .arrow {
                            transform: rotate(0deg);

                            &:after, &:before {
                                background: $orange-color;
                            }
                        }
                    }

                    .faq-body {
                        display: block;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 992px) {
        .videos {
            .video {
                width: calc(25% - 20px);
            }
        }

        .faq {
            .faq-nav {
                width: 25%;
            }

            .faq-content {
                width: calc(75% - 20px);
            }
        }
    }

    @media screen and (max-width: 860px) {
        .videos {
            .video {
                width: calc(50% - 20px);
            }
        }

        .faq {
            .faq-nav {
                width: 35%;
            }

            .faq-content {
                width: calc(65% - 20px);
            }
        }
    }

    @media screen and (max-width: 576px) {
        .faq {
            .faq-nav {
                margin: 0 10px;
                width: calc(100% - 20px);

                .tab {
                    margin-bottom: 4px;
                    border-radius: 3px;
                }
            }

            .faq-content {
                margin: 0 10px;
                width: calc(100% - 20px);
                border-radius: 3px;
            }
        }
    }

    @media screen and (max-width: 375px) {
        .videos {
            .video {
                width: calc(100% - 20px);
            }
        }
    }
}