.packages {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 1280px;

    label {
        display: flex;
        align-items: center;
        width: calc(100% - 20px);
        margin-bottom: 15px;
        height: 30px;
        padding: 0 10px;
        font-size: $font-size-md;
        color: $white-color;
        font-weight: 600;

        .pts {
            font-size: $font-size-md;
            color: $orange-color;

            .en & {
                padding-left: 4px;
            }

            .ar & {
                padding-right: 4px;
            }
        }

        &.prop {
            margin-bottom: 0;
            height: 20px;
            padding: 15px 10px 0 10px;
        }
    }

    .dd {
        display: flex;
        align-items: center;
        width: calc(100% - 20px);
        margin-bottom: 15px;
        height: 30px;
        padding: 0 10px;
        font-size: $font-size-xs;
        color: $text-color;
    }

    .turntable {
        margin: 0 10px 10px 10px;
        position: relative;
        width: calc(33.33% - 50px);
        padding: 15px;
        height: 230px;
        background: linear-gradient(0deg, #6E858E 0%, #101E41 100%);
        border-radius: 3px;

        .title {
            position: relative;
            z-index: 3;
            display: flex;
            width: 100%;
            align-items: center;
            height: 30px;
            font-size: 18px;
            font-weight: 600;
            color: $white-color;
        }

        .pts {
            position: absolute;
            z-index: 3;
            top: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 30px;
            font-size: $font-size-xs;
            font-weight: 600;
            color: $sub-nav-bg;
            background: #ACC0CD;

            .en & {
                right: 0;
                border-radius: 3px 0 0 3px;
            }

            .ar & {
                left: 0;
                border-radius: 0 3px 3px 0;
            }
        }

        .card-name {
            position: relative;
            z-index: 3;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            height: 30px;
            font-size: $font-size-md;
            font-weight: 600;
            color: $white-color;
        }

        .win-container {
            position: relative;
            z-index: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 170px;

            .btn-play {
                display: flex;
                width: 160px;
                height: 36px;
                align-items: center;
                justify-content: center;
                border-radius: 18px;
                font-weight: 600;
                outline: none;
                color: $white-color;
                background: $red-color;
                cursor: pointer;
                border: none;
                box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);

                &:hover {
                    background: $red-light-color;
                    transition: 0.3s background-color ease-in-out;
                }
            }
        }

        &.disabled:before {
            position: absolute;
            z-index: 2;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            content:'';
            background: rgba(4, 9, 22, 0.6);
            border-radius: 3px;
        }

        &.disabled {
            .win-container {
                .btn-play {
                    color: $text-color;
                    background: $sub-nav-bg;
                    cursor: default;
    
                    &:hover {
                        background: $sub-nav-bg;
                        transition: 0.3s background-color ease-in-out;
                    }
                }
            }
        }

        &.show-win:before {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            content:'';
            background: url('../img/user-system/turntable-win-bg.svg') no-repeat center;
            background-size: cover;
            animation-name: fadein;
            animation-duration: 1s;

            @keyframes fadein {
                from {opacity: 0;}
                to {opacity: 1;}
            }
        }

        &.show-win {
            .win-container {
                .card-body {
                    display: flex;
                    margin-top: -10px;
                    width: 76px;
                    height: 100px;
                    background: url('../img/user-system/card-bg.svg') no-repeat center;
                    background-size: 76px auto;
                    animation-name: spinin;
                    animation-duration: 1s;
                    transform: scale(1);
                    opacity: 1;
                    animation-timing-function: linear;

                    .number {
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        top: 72px;
                        left: -7px;
                        width: 90px;
                        height: 50px;
                        font-size: 42px;
                        color: $white-color;
                        font-weight: 700;
                        white-space: nowrap;
                        letter-spacing: -2px;
                        text-shadow: 0 2px 2px rgba(0,0,0,0.5);
                        transform: rotate(-4deg);
                    }
    
                    &.thanks:before {
                        position: absolute;
                        left: -4px;
                        top: 8px;
                        width: 84px;
                        height: 86px;
                        content:'';
                        background: url('../img/user-system/card-thanks.svg') no-repeat left top;
                        background-size: 100% auto;
                    }
    
                    &.renaming:before {
                        position: absolute;
                        left: -4px;
                        top: 8px;
                        width: 84px;
                        height: 86px;
                        content:'';
                        background: url('../img/user-system/card-renaming.svg') no-repeat left top;
                        background-size: 100% auto;
                    }
    
                    &.points-x3:before {
                        position: absolute;
                        left: -2px;
                        top: 6px;
                        width: 78px;
                        height: 86px;
                        content:'';
                        background: url('../img/user-system/card-points-x3.svg') no-repeat left top;
                        background-size: 100% auto;
                    }
    
                    &.points-x15:before {
                        position: absolute;
                        left: -2px;
                        top: 6px;
                        width: 78px;
                        height: 86px;
                        content:'';
                        background: url('../img/user-system/card-points-x15.svg') no-repeat left top;
                        background-size: 100% auto;
                    }
    
                    &.points-x150:before {
                        position: absolute;
                        left: -2px;
                        top: 6px;
                        width: 78px;
                        height: 86px;
                        content:'';
                        background: url('../img/user-system/card-points-x150.svg') no-repeat left top;
                        background-size: 100% auto;
                    }
    
                    &.prize-trx:before {
                        position: absolute;
                        left: -2px;
                        top: 0;
                        width: 78px;
                        height: 86px;
                        content:'';
                        background: url('../img/user-system/card-trx.svg') no-repeat left top;
                        background-size: 100% auto;
                    }
    
                    &.mining-card-x15:before {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 76px;
                        height: 100px;
                        content:'';
                        background: url('../img/user-system/diamond-golden.svg') no-repeat left 4px;
                        background-size: 100% auto;
                    }
    
                    &.mining-card-x2:before {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 76px;
                        height: 100px;
                        content:'';
                        background: url('../img/user-system/diamond-green.svg') no-repeat left 4px;
                        background-size: 100% auto;
                    }

                    @keyframes spinin {
                        0% {transform: scale(0.75); opacity: 0;}
                        50% {transform: scale(0.75); opacity: 0;}
                        100% {transform: scale(1); opacity: 1;}
                    }
                }
            }
        }
    }

    .my-cards {
        display: flex;
        flex-wrap: wrap;

        .card-container {
            margin: 0 10px 20px 10px;
            display: flex;
            flex-direction: column;
            width: 122px;
            height: 230px;
            border-radius: 3px;
            background: $bg-light-color;

            .card-name {
                display: flex;
                height: 30px;
                margin-bottom: 5px;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                line-height: 1;
                font-weight: 600;
                color: $text-color;
            }

            .card-body {
                position: relative;
                display: flex;
                margin: 0 auto 15px;
                width: 76px;
                height: 100px;
                background: url('../img/user-system/card-bg.svg') no-repeat center;
                background-size: 76px auto;

                .number {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: 72px;
                    left: -7px;
                    width: 90px;
                    height: 50px;
                    font-size: 42px;
                    color: $white-color;
                    font-weight: 700;
                    white-space: nowrap;
                    letter-spacing: -2px;
                    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
                    transform: rotate(-4deg);
                }

                &.thanks:before {
                    position: absolute;
                    left: -4px;
                    top: 8px;
                    width: 84px;
                    height: 86px;
                    content:'';
                    background: url('../img/user-system/card-thanks.svg') no-repeat left top;
                    background-size: 100% auto;
                }

                &.renaming:before {
                    position: absolute;
                    left: -4px;
                    top: 8px;
                    width: 84px;
                    height: 86px;
                    content:'';
                    background: url('../img/user-system/card-renaming.svg') no-repeat left top;
                    background-size: 100% auto;
                }

                &.points-x3:before {
                    position: absolute;
                    left: -2px;
                    top: 6px;
                    width: 78px;
                    height: 86px;
                    content:'';
                    background: url('../img/user-system/card-points-x3.svg') no-repeat left top;
                    background-size: 100% auto;
                }

                &.points-x15:before {
                    position: absolute;
                    left: -2px;
                    top: 6px;
                    width: 78px;
                    height: 86px;
                    content:'';
                    background: url('../img/user-system/card-points-x15.svg') no-repeat left top;
                    background-size: 100% auto;
                }

                &.points-x150:before {
                    position: absolute;
                    left: -2px;
                    top: 6px;
                    width: 78px;
                    height: 86px;
                    content:'';
                    background: url('../img/user-system/card-points-x150.svg') no-repeat left top;
                    background-size: 100% auto;
                }

                &.prize-trx:before {
                    position: absolute;
                    left: -2px;
                    top: 0;
                    width: 78px;
                    height: 86px;
                    content:'';
                    background: url('../img/user-system/card-trx.svg') no-repeat left top;
                    background-size: 100% auto;
                }

                &.mining-card-x15:before {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 76px;
                    height: 100px;
                    content:'';
                    background: url('../img/user-system/diamond-golden.svg') no-repeat left 4px;
                    background-size: 100% auto;
                }

                &.mining-card-x2:before {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 76px;
                    height: 100px;
                    content:'';
                    background: url('../img/user-system/diamond-green.svg') no-repeat left 4px;
                    background-size: 100% auto;
                }
            }

            .cards {
                display: flex;
                height: 30px;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                line-height: 1;
                color: $text-color;

                .amount {
                    font-weight: 600;
                    color: $white-color;

                    .en & {
                        padding-left: 4px;
                    }
        
                    .ar & {
                        padding-right: 4px;
                    }
                }
            }

            .btn-use {
                margin: 0 auto;
                display: flex;
                width: 80px;
                height: 30px;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                font-weight: 600;
                outline: none;
                color: $sub-nav-bg;
                background: $orange-color;
                cursor: pointer;
                border: none;

                &:hover {
                    background: $orange-light-color;
                    transition: 0.3s background-color ease-in-out;
                }
            }
        }
    }

    @media screen and (max-width: 1380px) {
        margin: 0 5px;
        width: calc(100% - 10px);

        .my-cards {
            .card-container {
                width: calc(12.5% - 20px);
            }
        }
    }

    @media screen and (max-width: 1080px) {
        .my-cards {
            .card-container {
                width: calc(14.28% - 20px);
            }
        }
    }

    @media screen and (max-width: 992px) {
        .my-cards {
            .card-container {
                width: calc(16.66% - 20px);
            }
        }
    }

    @media screen and (max-width: 882px) {
        .turntable {
            margin: 0 10px 20px 10px;
            width: calc(100% - 50px);
        }

        .my-cards {
            .card-container {
                width: calc(20% - 20px);
            }
        }
    }

    @media screen and (max-width: 767px) {
        .my-cards {
            .card-container {
                width: calc(25% - 20px);
            }
        }
    }

    @media screen and (max-width: 576px) {
        .my-cards {
            .card-container {
                width: calc(33.33% - 20px);
            }
        }
    }

    @media screen and (max-width: 375px) {
        .my-cards {
            .card-container {
                width: calc(50% - 20px);
            }
        }
    }
}