.ranks {
    margin: 0 auto;
    display: flex;
    width: 1280px;

    .my-rank, .rank-slider {
        position: relative;
        display: flex;
        flex-wrap: wrap;

        label {
            display: flex;
            align-items: center;
            width: calc(100% - 20px);
            margin-bottom: 15px;
            height: 30px;
            padding: 0 10px;
            font-size: $font-size-md;
            color: $white-color;
            font-weight: 600;
        }

        .rank-content {
            margin: 0 10px;
            position: relative;
            display: flex;
            flex-direction: column;
            min-height: 430px;
            padding: 15px;
            border-radius: 3px;
            background: grey;

            .username {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                height: 30px;
                font-size: 18px;
                font-weight: 600;
                color: $white-color;
            }

            .lv {
                position: absolute;
                top: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35px;
                height: 30px;
                font-size: $font-size-xs;
                font-weight: 600;
                color: $sub-nav-bg;

                .en & {
                    right: 0;
                    border-radius: 3px 0 0 3px;
                }
    
                .ar & {
                    left: 0;
                    border-radius: 0 3px 3px 0;
                }
            }

            .rank-preview {
                display: flex;
                justify-content: center;
                margin-bottom: 30px;
                height: 120px;

                .frame {
                    position: relative;
                    width: 120px;
                    height: 120px;

                    &:after {
                        position: absolute;
                        z-index: 2;
                        width: 120px;
                        height: 120px;
                        content:'';
                    }

                    &:before {
                        position: absolute;
                        z-index: 3;
                        left: calc(50% - 13px);
                        bottom: -20px;
                        display: block;
                        width: 26px;
                        height: 36px;
                        content:'';
                    }
                }
            }

            .wagered {
                display: flex;
                justify-content: center;
                font-size: $font-size-md;
                color: $white-color;
                font-weight: 600;
            }

            .cumulative {
                display: flex;
                margin-bottom: 10px;
                justify-content: center;
                font-size: 12px;
                color: rgba(255,255,255,0.5);
            }

            .row {
                display: flex;
                position: relative;
                width: calc(100% - 50px);
                height: 29px;
                padding: 0 25px;
                align-items: center;
                justify-content: center;
                line-height: 1;
                font-size: $font-size-xs;
                border-bottom: 1px solid rgba(255,255,255,0.1);

                &.included {
                    color: $white-color;
                }

                &.included:before {
                    position: absolute;
                    left: 0;
                    top: 7px;
                    width: 16px;
                    height: 16px;
                    font-size: 16px;
                    line-height: 16px;
                    content: '\e836';
                    font-family: 'fontello';
                    color: $green-color;
                }

                &.disabled {
                    color: rgba(255,255,255,0.5);
                }

                &.disabled:before {
                    position: absolute;
                    left: 0;
                    top: 7px;
                    width: 16px;
                    height: 16px;
                    font-size: 16px;
                    line-height: 16px;
                    content: '\e835';
                    font-family: 'fontello';
                    color: $red-color;
                }
            }

            &.lv1, &.lv2, &.lv3 {
                background-image: linear-gradient($btn-hover-color, $text-color);

                .lv {
                    background: $text-color;
                }

                .rank-preview {
                    .frame {
                        width: 116px;
                        height: 116px;
                        border: 2px solid $text-color;
                        border-radius: 60px;
                        
                        &:after {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 116px;
                            height: 116px;
                            font-size: 60px;
                            font-family: 'fontello';
                            content: '\e81c';
                            color: $orange-color;
                        }
                    }
                }
            }

            &.lv3, &.lv4, &.lv5 {
                background-image: linear-gradient($btn-hover-color, #983C20);

                .username {
                    background: linear-gradient(180deg,#E78A54,#9D3F21);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                
                .lv {
                    background: #E78B54;
                }

                .rank-preview {
                    .frame {
                        border: 2px solid #E78B54;
                    }
                }
            }

            &.lv3 {
                .rank-preview {
                    .frame {
                        &:before {
                            background: url('../img/user-system/badge-lv3.svg') no-repeat center;
                            background-size: 26px 36px;
                        }
                    }
                }
            }

            &.lv4 {
                .rank-preview {
                    .frame {
                        width: 120px;
                        height: 120px;
                        border: none;
                        background: url('../img/user-system/sticker-lv4.png') no-repeat center;
                        background-size: 120px;

                        &:before {
                            background: url('../img/user-system/badge-lv4.svg') no-repeat center;
                            background-size: 26px 36px;
                        }
                    }
                }
            }

            &.lv5 {
                .rank-preview {
                    .frame {
                        width: 120px;
                        height: 120px;
                        border: none;
                        background: url('../img/user-system/sticker-lv5.png') no-repeat center;
                        background-size: 120px;

                        &:before {
                            background: url('../img/user-system/badge-lv5.svg') no-repeat center;
                            background-size: 26px 36px;
                        }

                        &:after {
                            background: url('../img/user-system/frame-lv5.svg') no-repeat center;
                            background-size: 120px;
                        }
                    }
                }
            }

            &.lv6, &.lv7, &.lv8 {
                background-image: linear-gradient($btn-hover-color, #6E858E);
                
                .username {
                    background: linear-gradient(180deg,#BDCDD9,#708790);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .lv {
                    background: #6E858E;
                }

                .rank-preview {
                    .frame {
                        &:after {
                            background: url('../img/user-system/frame-lv6.svg') no-repeat center;
                            background-size: 120px;
                        }
                    }
                }
            }

            &.lv6 {
                .rank-preview {
                    .frame {
                        width: 120px;
                        height: 120px;
                        border: none;
                        background: url('../img/user-system/sticker-lv6.png') no-repeat center;
                        background-size: 110px;

                        &:before {
                            background: url('../img/user-system/badge-lv6.svg') no-repeat center;
                            background-size: 26px 36px;
                        }
                    }
                }
            }

            &.lv7 {
                .rank-preview {
                    .frame {
                        width: 120px;
                        height: 120px;
                        border: none;
                        background: url('../img/user-system/sticker-lv7.png') no-repeat center;
                        background-size: 110px;

                        &:before {
                            background: url('../img/user-system/badge-lv7.svg') no-repeat center;
                            background-size: 26px 36px;
                        }
                    }
                }
            }

            &.lv8 {
                .rank-preview {
                    .frame {
                        width: 120px;
                        height: 120px;
                        border: none;
                        background: url('../img/user-system/sticker-lv8.png') no-repeat center;
                        background-size: 110px;

                        &:before {
                            background: url('../img/user-system/badge-lv8.svg') no-repeat center;
                            background-size: 26px 36px;
                        }
                    }
                }
            }

            &.lv9, &.lv10, &.lv11 {
                background-image: linear-gradient($btn-hover-color, #E68C2E);
                
                .username {
                    background: linear-gradient(180deg,#F7BD2B,#E68C2E);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .lv {
                    background: #F7BD2B;
                }

                .rank-preview {
                    .frame {
                        &:after {
                            background: url('../img/user-system/frame-lv9.svg') no-repeat center;
                            background-size: auto 120px;
                        }
                    }
                }
            }

            &.lv9 {
                .rank-preview {
                    .frame {
                        width: 120px;
                        height: 120px;
                        border: none;
                        background: url('../img/user-system/sticker-lv9.png') no-repeat center;
                        background-size: 110px;

                        &:before {
                            background: url('../img/user-system/badge-lv9.svg') no-repeat center;
                            background-size: 26px 36px;
                        }
                    }
                }
            }

            &.lv10 {
                .rank-preview {
                    .frame {
                        width: 120px;
                        height: 120px;
                        border: none;
                        background: url('../img/user-system/sticker-lv10.png') no-repeat center;
                        background-size: 110px;

                        &:before {
                            background: url('../img/user-system/badge-lv10.svg') no-repeat center;
                            background-size: 26px 36px;
                        }
                    }
                }
            }

            &.lv11 {
                .rank-preview {
                    .frame {
                        width: 120px;
                        height: 120px;
                        border: none;
                        background: url('../img/user-system/sticker-lv11.png') no-repeat center;
                        background-size: 110px;

                        &:before {
                            background: url('../img/user-system/badge-lv11.svg') no-repeat center;
                            background-size: 26px 36px;
                        }
                    }
                }
            }

            &.lv12, &.lv13, &.lv14 {
                background-image: linear-gradient($btn-hover-color, #0A9698);
                
                .username {
                    background: linear-gradient(180deg,#10EEF3,#0CCFD3);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .lv {
                    background: #10EEF3;
                }

                .rank-preview {
                    .frame {
                        &:after {
                            background: url('../img/user-system/frame-lv12.svg') no-repeat center;
                            background-size: auto 120px;
                        }
                    }
                }
            }

            &.lv12 {
                .rank-preview {
                    .frame {
                        width: 120px;
                        height: 120px;
                        border: none;
                        background: url('../img/user-system/sticker-lv12.png') no-repeat center;
                        background-size: 110px;

                        &:before {
                            background: url('../img/user-system/badge-lv12.svg') no-repeat center;
                            background-size: 26px 36px;
                        }
                    }
                }
            }

            &.lv13 {
                .rank-preview {
                    .frame {
                        width: 120px;
                        height: 120px;
                        border: none;
                        background: url('../img/user-system/sticker-lv13.png') no-repeat center;
                        background-size: 110px;

                        &:before {
                            background: url('../img/user-system/badge-lv13.svg') no-repeat center;
                            background-size: 26px 36px;
                        }
                    }
                }
            }

            &.lv14 {
                .rank-preview {
                    .frame {
                        width: 120px;
                        height: 120px;
                        border: none;
                        background: url('../img/user-system/sticker-lv14.png') no-repeat center;
                        background-size: 110px;

                        &:before {
                            background: url('../img/user-system/badge-lv14.svg') no-repeat center;
                            background-size: 26px 36px;
                        }
                    }
                }
            }

            &.lv15 {
                background-image: linear-gradient($btn-hover-color, #F02750);
                
                .username {
                    background: linear-gradient(180deg,#F02850,#D41140);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .lv {
                    background: #F02750;
                }

                .rank-preview {
                    .frame {
                        width: 120px;
                        height: 120px;
                        border: none;
                        background: url('../img/user-system/sticker-lv15.png') no-repeat center;
                        background-size: 110px;

                        &:before {
                            background: url('../img/user-system/badge-lv15.svg') no-repeat center;
                            background-size: 26px 36px;
                        }
                        
                        &:after {
                            background: url('../img/user-system/frame-lv15.svg') no-repeat center;
                            background-size: auto 120px;
                        }
                    }
                }
            }
        }
    }

    .my-rank {
        width: 25%;

        label {
            justify-content: flex-start;
        }

        .rank-content {
            width: calc(100% - 50px);
        }
    }

    .rank-slider {
        width: 75%;
        overflow: hidden;

        label {
            justify-content: flex-end;
        }

        .arrow {
            position: absolute;
            display: flex;
            z-index: 2;
            top: 270px;
            width: 23px;
            height: 13px;

            &:before {
                display: block;
                width: 23px;
                height: 13px;
                font-size: 13px;
                line-height: 13px;
                color: rgba(255,255,255,0.7);
                content: '\e833';
                font-family: 'fontello';
            }

            &.slide-left {
                left: 20px;
                transform: rotate(-90deg);
            }

            &.slide-right {
                transform: rotate(90deg);
                right: 20px;
            }

            &:hover {
                &:before {
                    color: rgba(255,255,255,1);
                    transition: 0.3s all ease-in-out;
                }
            }
        }

        .rank-content {
            width: calc(33.33% - 50px);
        }
    }
}

.how-work {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 1280px;
    padding: 40px 0;

    h2 {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: $font-size-lg;
        color: $white-color;
        font-weight: 600;
    }

    .dd {
        display: flex;
        width: calc(100% - 20px);
        justify-content: center;
        padding: 5px 10px 15px 10px;
        width: 100%;
        font-size: $font-size-xs;
        color: $text-color;
    }

    .steps {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .step {
            margin: 10px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: calc(25% - 125px);
            min-height: 60px;

            .en & {
                padding: 15px 15px 15px 90px;
            }

            .ar & {
                padding: 15px 90px 15px 15px;
            }

            .icon {
                position: absolute;
                top: 15px;
                display: flex;
                width: 60px;
                height: 60px;

                &.icon-trx {
                    overflow: hidden;
                    background: $red-color;
                    border-radius: 30px;

                    &:before {
                        display: flex;
                        position: absolute;
                        left: 0;
                        top: 20px;
                        width: 65px;
                        height: 65px;
                        font-size: 65px;
                        line-height: 65px;
                        color: $white-color;
                        content: '\e819';
                        font-family: 'fontello';
                    }
                }

                &.icon-dice {
                    display: flex;
                    width: 60px;
                    height: 60px;
                    background: url('../img/dice-game.svg') no-repeat center;
                    background-size: 60px auto;
                }

                &.icon-badge {
                    display: flex;
                    width: 60px;
                    height: 60px;
                    background: url('../img/user-system/badge-lv15.svg') no-repeat center;
                    background-size: auto 60px;
                }

                .en & {
                    left: 15px;
                }
    
                .ar & {
                    right: 15px;
                }
            }

            label {
                display: flex;
                justify-content: flex-start;
                width: 100%;
                color: $white-color;
                font-size: $font-size-md;
                font-weight: 600;
            }

            .dd {
                display: flex;
                width: 100%;
                font-size: 12px;
                padding: 15px 0;
                align-items: flex-start;
                justify-content: flex-start;
            }
        }

        .btn {
            margin: 10px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: calc(25% - 50px);
            min-height: 60px;
            padding: 15px 15px 15px 15px;

            .btn-play {
                display: flex;
                width: 160px;
                height: 36px;
                align-items: center;
                justify-content: center;
                border-radius: 18px;
                font-weight: 600;
                outline: none;
                color: $sub-nav-bg;
                background: $orange-color;
                cursor: pointer;

                &:hover {
                    background: $orange-light-color;
                    transition: 0.3s background-color ease-in-out;
                }
            }
        }
    }
}

@media screen and (max-width: 1380px) {
    .ranks, .how-work {
        margin: 0 5px;
        width: calc(100% - 10px);
    }
}

@media screen and (max-width: 1160px) {
    .ranks {
        .my-rank {
            width: 33.33%;
        }

        .rank-slider {
            flex-wrap: nowrap;
            width: 66.66%;
            padding-top: 45px;
            overflow: hidden;

            label {
                position: absolute;
                top: 0;
                right: 0;
            }

            .rank-content {
                min-width: calc(50% - 50px);
            }
        }
    }

    .how-work {
        .steps {
            .step {
                width: calc(33.33% - 125px);
            }
    
            .btn {
                width: calc(100% - 50px);
                min-height: 30px;
                padding: 0 15px;
            }
        }
    }
}

@media screen and (max-width: 882px) {
    .ranks {
        .my-rank {
            width: 50%;
        }

        .rank-slider {
            width: 50%;
            
            .rank-content {
                min-width: calc(100% - 50px);
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .how-work {
        .steps {
            .step {
                width: calc(100% - 125px);
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .ranks {
        flex-wrap: wrap;
        
        .my-rank {
            width: 100%;
            margin-bottom: 15px;
        }

        .rank-slider {
            width: 100%;

            label {
                justify-content: flex-start;
            }
        }
    }
}