.slider {
    margin: 15px;
    width: calc(100% - 30px);
    min-height: 110px;
    position: relative;
    display: flex;
    justify-content: center;
    background: red;

    .slider-img {
        display: block;
        max-height: 490px;
        border-radius: 3px;

        a {
            display: block;
            max-height: 490px;

            img {
                display: block;
                width: 100%;
                max-width: 1800px;
                max-height: 490px;
            }
        }
    }

    .slider-nav {
        position: absolute;
        bottom: 15px;
        display: flex;

        a {
            display: flex;
            margin: 0 3px;
            width: 8px;
            height: 8px;
            border-radius: 8px;
            background: $bg-color;
            border: 4px solid $bg-color;

            &.active, &:hover {
                background-color: $red-color;
                transition: 0.3s background-color ease-in-out;
            }
        }
    }
}