.slots-filter {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 40px);
    padding: 10px;
    background: $bg-light-color;
    border-radius: 3px;

    label {
        display: flex;
        width: calc(100% - 5px);
        padding: 5px;
        color: $white-color;
        font-weight: 600;
        font-size: $font-size-md;
    }

    .btn-group {
        margin: 5px;
        position: relative;
        width: calc(100% - 10px);
        display: flex;

        &.sm {
            width: calc(33.33% - 10px);
        }

        .btn {
            display: flex;
            width: 100%;
            height: 39px;
            justify-content: center;
            cursor: pointer;
            color: $text-color;
            align-items: center;
            border-bottom: 1px solid $bg-color;

            &.active, &:hover {
                color: $white-color;
                border-color: $orange-color;
                transition: 0.3s all ease-in-out;
            }
        }

        .title {
            width: 100%;
            padding: 5px 0;
            color: $text-color;
        }

        .select {
            display: flex;
            position: relative;
            width: calc(100% - 6px);
            min-height: 30px;
            padding: 3px;
            flex-wrap: wrap;
            background: $bg-color;
            border-radius: 3px;

            .remove {
                display: flex;
                align-items: center;
                margin: 3px;
                height: 24px;
                padding: 0 5px;
                background: $white-color;
                font-size: $font-size-xs;
                color: $bg-color;
                border-radius: 3px;
                cursor: pointer;

                .icon-remove {
                    position: relative;
                    margin-left: 4px;
                    width: 14px;
                    height: 14px;

                    &:after, &:before {
                        position: absolute;
                        display: block;
                        width: 2px;
                        height: 10px;
                        content: '';
                        top: 2px;
                        background: $red-color;
                    }

                    &:after {
                        left: 6px;
                        transform: rotate(45deg);
                    }

                    &:before {
                        right: 6px;
                        transform: rotate(-45deg);
                    }
                }
            }

            input {
                position: relative;
                z-index: 1;
                display: flex;
                flex: 1;
                margin: 3px;
                font-size: $font-size-xs;
                color: $text-color;
                background: transparent;
                border: none;
                outline: none;

                &:focus {
                    color: $white-color;
                }
            }

            .btn-search {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 2;
                width: 14px;
                height: 14px;
                cursor: pointer;

                &:before {
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: '';
                    width: 8px;
                    height: 8px;
                    border: 2px solid $white-color;
                    border-radius: 8px;
                }

                &:after {
                    position: absolute;
                    display: block;
                    width: 2px;
                    height: 6px;
                    content: '';
                    bottom: 0;
                    right: 2px;
                    background: $white-color;
                    transform: rotate(-45deg);
                }
            }
        }

        .suppliers-list {
            position: absolute;
            z-index: 4;
            left: 0;
            bottom: -95px;
            display: block;
            width: 100%;
            height: 90px;
            overflow-y: auto;
            background: $bg-color;
            border-radius: 3px;

            .supplier {
                position: relative;
                display: flex;
                width: calc(100% - 20px);
                align-items: center;
                height: 30px;
                padding:  0 10px;
                font-size: $font-size-xs;
                color: $text-color;

                &:hover, &.selected {
                    color: $white-color;
                    cursor: pointer;
                    background: $bg-light-color;
                    transition: 0.3s all ease-in-out;
                }

                &.selected {
                    &:after, &:before {
                        position: absolute;
                        display: block;
                        width: 2px;
                        content: '';
                        background: $green-color;
                    }

                    &:after {
                        top: 10px;
                        right: 10px;
                        height: 10px;
                        transform: rotate(45deg);
                    }

                    &:before {
                        top: 13px;
                        right: 14px;
                        height: 6px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }

        &.sm {
            align-self: flex-start;
            flex-wrap: wrap;
            flex-direction: column;
        }
    }

    @media screen and (max-width: 576px) {
        margin: 0 10px 10px 10px;
        
        .btn-group {
            flex-wrap: wrap;
            
            .btn {
                width: 33.33%;
            }

            &.sm {
                width: calc(100% - 10px);
            }
        }
    }
}