$fa-font-path: "../webfonts";

// Colors
$bg-color: #060E22;
$bg-light-color: #0A142E;
$bg-dark-color: #030814;
$btn-hover-color: #101E41;
$text-color: #344E72;

$white-color: #FFF;
$orange-color: #FBC509;
$green-color: #99CE29;
$orange-dark-color: #FB6009;
$red-color: #D80027;
$red-light-color: #FF002E;

// Font Size
$font-size-xs: 13px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 24px;

// Button Size
$btn-size-md: 50px;
$btn-size-lg: 60px;