$fa-font-path: "../webfonts";

// Colors
$primary-color: #222;
$secondary-color: #D4B254;
$secondary-color-hover: #C8A74B;
$white-color: #FFF;
$black-color: #000;
$grey-color1: #EEE;
$grey-color2: #CCC;
$grey-color3: #777;

// Font Size
$font-size-xs: 13px;
$font-size-sm: 15px;
$font-size-md: 18px;
$font-size-lg: 24px;
$font-size-xlg1: 32px;
$font-size-xlg2: 42px;
$font-size-xlg3: 52px;

// Button Size
$btn-size-md: 50px;
$btn-size-lg: 60px;