.blk-dice {
    display: flex;
    width: calc(100% - 14px);
    height: calc(100% - 107px);
    padding: 7px 7px 0 7px;

    .blk-dice-game {
        margin: 7px 7px 4px 7px;
        width: calc(72% - 14px);
        height: calc(100% - 11px);
        
        .dice-bg {
            position: relative;
            display: flex;
            justify-content: center;
            width: calc(100% - 120px);
            min-height: 300px;
            padding: 70px 60px;
            background-image: linear-gradient(to right, $bg-dark-color , $sub-nav-bg);
            border-radius: 3px;

            &:after {
                position: absolute;
                display: flex;
                z-index: 1;
                left: 0;
                top: 0;
                width: 200px;
                height: 120px;
                content:'';
                background: url('../img/blured-dice1.svg') no-repeat -40px bottom;
                background-size: 240px;
                border-radius: 3px;
            }

            &:before {
                position: absolute;
                display: flex;
                z-index: 1;
                right: 14px;
                bottom: 0;
                width: 106px;
                height: 86px;
                content:'';
                background: url('../img/blured-dice2.svg') no-repeat center top;
                background-size: 120% auto;
                border-radius: 3px;
            }

            .dice-content {
                position: relative;
                z-index: 2;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                max-width: 770px;

                .number {
                    display: flex;
                    flex-wrap: wrap;
                    width: 160px;
                    height: 110px;
                    padding: 25px 0;
                    flex-direction: column;

                    .nr, label {
                        display: flex;
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                        font-weight: 600;
                    }

                    .nr {
                        height: 80px;
                        font-size: 80px;
                        color: $white-color;
                        line-height: 80px;

                        &.win {
                            color: $green-color;
                        }

                        &.lose {
                            color: $red-color;
                        }
                    }

                    label {
                        height: 30px;
                        font-size: $font-size-md;
                        color: $text-color;
                    }
                }

                .rolling-dice {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: calc(100% - 320px);
                    height: 160px;

                    .icon-dice {
                        display: flex;
                        width: 160px;
                        height: 160px;
                        background: url('../img/rolling-dice.svg') no-repeat center #262731;
                        background-size: 70% auto;
                        border-radius: 50%;

                        &.spin-dice {
                            transform: rotate(0deg);
                            animation: spin-dice 2s infinite linear;
                
                            @keyframes spin-dice {
                                0% {transform: rotate(0deg);}
                                100% {transform: rotate(360deg);}
                            }
                        }
                    }
                }

                .action-button {
                    width: 160px;
                    height: 50px;
                    padding: 30px 0;

                    .btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 156px;
                        height: 46px;
                        color: $text-color;
                        font-weight: 600;
                        font-size: $font-size-md;
                        background: transparent;
                        border: 2px solid $text-color;
                        border-radius: 3px;
                        outline: none;
                        cursor: pointer;

                        &.roll-under-active {
                            background: $red-color;
                            border-color: $red-color;
                            color: $white-color;
                            transition: 0.3s all ease-in-out;
                        }

                        &.roll-over-active {
                            background: $green-color;
                            border-color: $green-color;
                            color: $white-color;
                            transition: 0.3s all ease-in-out;
                        }
                    }
                }

                .multiplier, .win-chance {
                    display: flex;
                    align-items: center;
                    width: calc(50% - 160px);
                    padding: 30px 0;
                    height: 50px;

                    .group {
                        width: 100px;
                        height: 40px;

                        label, .coef {
                            display: block;
                            font-weight: 600;
                        }

                        label {
                            font-size: $font-size-xs;
                            color: $text-color;
                        }

                        .coef {
                            font-size: $font-size-md;
                            color: $white-color;
                        }
                    }
                }

                .multiplier {
                    justify-content: flex-end;

                    .group {
                        label, .coef {
                            text-align: left;
                        }
                    }
                }

                .win-chance {
                    justify-content: flex-start;

                    .group {
                        label, .coef {
                            text-align: right;
                        }
                    }
                }

                .bet-range {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    height: 34px;

                    .slider {
                        width: 100%;
                        height: 10px;
                        border-radius: 3px;
                        background: $green-color;

                        .filled {
                            position: relative;
                            display: flex;
                            height: 10px;
                            border-radius: 3px;
                            background: $red-color;

                            .scroll {
                                position: absolute;
                                top: -13px;
                                right: -18px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 36px;
                                height: 36px;
                                font-size: 18px;
                                border-radius: 50%;
                                cursor: pointer;
                                font-weight: 600;
                                color: $bg-dark-color;
                                background: $white-color;
                                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

                                &:hover {
                                    transition: 0.3s all ease-in-out;
                                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
                                }
                            }
                        }
                    }

                    .from, .to {
                        display: flex;
                        width: 50%;
                        height: 24px;
                        align-items: center;
                        font-size: $font-size-xs;
                        font-weight: 600;
                        color: $white-color;
                    }

                    .to {
                        justify-content: flex-end;
                        text-align: right;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 2000px) {
        .blk-dice-game {
            width: calc(66% - 14px);
        }
    }

    @media screen and (max-width: 1600px) {
        .blk-dice-game {
            width: calc(62% - 14px);
        }
    }

    @media screen and (max-width: 1366px) {
        .blk-dice-game {
            .dice-bg {
                width: calc(100% - 80px);
                padding: 50px 40px;
            }
        }
    }
}