.popup-wrapper {
    position: fixed;
    z-index: 20;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(13,14,17,0.7);

    .popup {
        margin: 125px auto auto auto;
        display: flex;
        flex-wrap: wrap;
        width: 600px;
        min-width: 280px;
        background: $bg-color;
        border-radius: 3px;

        .popup-header {
            position: relative;
            display: flex;
            align-items: center;
            width: calc(100% - 45px);
            padding: 5px 30px 5px 15px;
            min-height: 30px;
            color: $white-color;
            font-size: $font-size-md;
            font-weight: 600;
            border-radius: 3px 3px 0 0;
            background: $sub-nav-bg;

            .close-popup {
                position: absolute;
                top: 5px;
                right: 5px;
                width: 30px;
                height: 30px;
                cursor: pointer;

                &:after, &:before {
                    position: absolute;
                    top: 5px;
                    display: block;
                    content:'';
                    width: 2px;
                    height: 20px;
                    background: $text-color;
                }

                &:after {
                    left: 14px;
                    transform: rotate(45deg);
                }

                &:before {
                    right: 14px;
                    transform: rotate(-45deg);
                }

                &:hover {
                    &:after, &:before {
                        background: $white-color;
                        transition: 0.3s background-color ease-in-out;
                    }
                }
            }
        }

        .popup-body {
            display: flex;
            flex-wrap: wrap;
            width: calc(100% - 14px);
            padding: 14px 7px;
            color: $text-color;

            h4 {
                display: block;
                width: calc(100% - 14px);
                padding: 7px;
                text-align: center;
                font-weight: 600;
                color: $orange-color;
                font-size: $font-size-md;
            }

            p {
                display: block;
                width: calc(100% - 14px);
                padding: 7px;
                line-height: 16px;
                font-size: $font-size-xs;

                .percent {
                    color: $white-color;
                }
            }

            .form {
                display: flex;
                position: relative;
                flex-wrap: wrap;
                width: 100%;
                padding: 7px 0;

                label {
                    display: block;
                    width: calc(100% - 14px);
                    padding: 0 7px;
                    color: $white-color;
                    font-size: $font-size-xs;
                    font-weight: 600;
                }

                .max {
                    top: 33px;
                    right: 103px;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 36px;
                    height: 24px;
                    font-size: $font-size-xs;
                    color: $white-color;
                    font-weight: 600;
                    background: $grid-row-bg;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    border-radius: 3px;

                    &:hover {
                        color: $bg-dark-color;
                        background: $orange-color;
                        transition: 0.3s all ease-in-out;
                    }
                }

                input {
                    margin: 7px;
                    display: flex;
                    width: calc(100% - 128px);
                    height: 30px;
                    padding: 0 10px;
                    font-size: $font-size-xs;
                    color: $white-color;
                    background: $bg-dark-color;
                    border-radius: 3px;
                    border: none;
                    outline: none;
                }

                .btn-generate {
                    margin: 7px;
                    width: 80px;
                    height: 30px;
                    font-size: $font-size-sm;
                    font-weight: 600;
                    color: $bg-dark-color;
                    background: $orange-color;
                    border-radius: 3px;
                    border: none;
                    outline: none;
                    cursor: pointer;

                    &:hover {
                        background: $orange-light-color;
                        transition: 0.3s all ease-in-out;
                    }
    
                    &:active {
                        background: $orange-dark-color;
                        transition: 0.3s all ease-in-out;
                    }
                }

                .note {
                    display: block;
                    width: calc(100% - 14px);
                    padding: 0 7px;
                    font-size: $font-size-xs;
                }

                .error {
                    display: block;
                    width: calc(100% - 14px);
                    padding: 0 7px 7px 7px;
                    font-size: $font-size-xs;
                    color: $red-color;
                }
            }

            .notification {
                .lower-higher-card, .ace, .king {
                    display: flex;
                    width: 100%;
                    height: 80px;
                }

                .lower-higher, .swap {
                    display: flex;
                    width: 100%;
                    height: 40px;
                }

                .lower-higher-card {
                    background: url('../img/lower-higher-card.svg') no-repeat center;
                    background-size: auto 80px;
                }

                .ace {
                    background: url('../img/ace.svg') no-repeat center;
                    background-size: auto 80px;
                }

                .king {
                    background: url('../img/king.svg') no-repeat center;
                    background-size: auto 80px;
                }

                .lower-higher {
                    background: url('../img/lower-higher.svg') no-repeat center;
                    background-size: auto 40px;
                }

                .swap {
                    background: url('../img/swap-card.svg') no-repeat center;
                    background-size: auto 40px;
                }

                .responsive-table {
                    width: 100%;
                    overflow: auto;
                }
            }

            .table-responsive {
                width: 100%;
                overflow: auto;

                table {
                    width: 100%;
                    text-align: left;
                    border-spacing: 0;
                    border-left: 1px solid $bg-dark-color;
                    border-top: 1px solid $bg-dark-color;
    
                    thead {
                        tr {
                            th {
                                padding: 5px 10px;
                                color: $white-color;
                                font-weight: 600;
                                vertical-align: middle;
                                text-align: center;
                                background: $bg-dark-color;
                                border-right: 1px solid $bg-dark-color;
                                border-bottom: 1px solid $bg-dark-color;
                            }
                        }
                    }
    
                    tbody {
                        tr {
                            td {
                                padding: 5px 10px;
                                text-align: center;
                                vertical-align: middle;
                                color: $text-color;
                                border-right: 1px solid $bg-dark-color;
                                border-bottom: 1px solid $bg-dark-color;
                            }
                        }
                    }
                }
            }

            &.burn-body {
                width: 100%;
                padding: 15px 0 0 0;

                .title {
                    margin: 0 0 10px 0;
                    display: flex;
                    justify-content: center;
                    width: calc(100% - 30px);
                    padding: 0 15px;
                    font-weight: bold;
                    font-size: $font-size-md;
                    color: $orange-color;
                }

                .total-burned {
                    margin: 0 0 5px 0;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    font-weight: 600;
                    color: $white-color;
                    font-size: $font-size-lg;

                    .wnk-icon {
                        color: $red-color;
                        font-size: 20px;
                    }
                }

                .total {
                    margin-bottom: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: calc(100% - 30px);
                    padding: 0 15px;
                    font-weight: normal;
                    font-size: $font-size-xs;
                    color: $text-color; 
                }

                .table-label {
                    display: flex;
                    width: 100%;
                    height: 50px;
                    padding: 0 15px;
                    align-items: center;
                    color: $white-color;
                    font-size: $font-size-md;
                    font-weight: 600;
                    background: $sub-nav-bg;
                }

                .table-responsive {
                    width: 100%;
                    max-height: 300px;
                    overflow: auto;
                    border-radius: 0 0 3px 3px;

                    table {
                        width: 100%;
                        text-align: left;
                        border-spacing: 0;
                        border: none;

                        thead {
                            th {
                                height: 36px;
                                padding: 0 0 0 10px;
                                font-weight: normal;
                                vertical-align: middle;
                                background: transparent;
                                border-bottom: 2px solid $sub-nav-bg;
                                border-right: none;
                            }
                        }

                        tbody {
                            tr {
                                &:nth-child(even) {
                                    background: $sub-nav-bg;
                                }

                                td {
                                    height: 36px;
                                    padding: 0 0 0 10px;
                                    font-weight: normal;
                                    vertical-align: middle;
                                    border: none;

                                    .currency {
                                        color: $orange-color;
                                    }

                                    &.amount {
                                        color: $white-color;
                                    }

                                    a {
                                        color: $orange-color;
                                        text-decoration: underline;

                                        &:hover {
                                            color: $orange-light-color;
                                            transition: 0.3s all ease-in-out;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.show {
        display: flex;
        background: rgba(0,0,0,0.6);
        animation-name: showpopupbg;
        animation-duration: 0.3s;

        @keyframes showpopupbg {
            from {background: rgba(0,0,0,0);}
            to {background: rgba(0,0,0,0.6);}
        }

        .popup {
            animation-name: showpopup;
            animation-duration: 0.6s;
            animation-timing-function: ease-out;

            @keyframes showpopup {
                from {margin: -100% auto auto auto;}
                to {margin: 125px auto auto auto;}
            }
        }

        @media screen and (max-width: 730px) {
            .popup {
                margin: 14px auto auto auto;
                
                @keyframes showpopup {
                    from {margin: -100% auto auto auto;}
                    to {margin: 14px auto auto auto;}
                }
            }
        }
    }

    @media screen and (max-width: 628px) {
        .popup {
            width: calc(100% - 28px);
        }
    }
}