.referrals {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 14px);
    position: relative;
    max-width: 1274px;
    padding: 30px 7px;

    .ref-header {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% - 16px);
        padding: 0 8px;
        margin-bottom: 30px;

        .invite, .generate {
            width: calc(50% - 15px);
        }

        .invite {
            display: flex;
            flex-wrap: wrap;
            padding-right: 15px;

            h1 {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                font-size: 52px;
                color: $orange-color;
                line-height: 1;

                .friends {
                    display: flex;
                    width: 100%;
                    font-size: 52px;
                    line-height: 1;
                    color: $white-color;
                }
            }

            p {
                display: block;
                width: 100%;
                padding: 10px 0;
                color: $text-color;
                font-size: $font-size-xs;

                .percent {
                    padding: 0 4px;
                    color: $white-color;
                }
            }

            .total-earned {
                display: flex;
                flex-wrap: wrap;
                width: calc(100% - 30px);
                padding: 15px;
                background: $blank-game-bg;
                border-radius: 3px;

                .ref-col {
                    width: calc(50% - 15px);
                    padding-right: 15px;

                    label {
                        display: block;
                        padding-bottom: 3px;
                        font-size: $font-size-xs;
                        color: $text-color;
                        font-weight: 600;
                    }

                    .dd {
                        display: block;
                        padding-top: 3px;
                        font-size: $font-size-md;
                        color: $white-color;
                        font-weight: 600;

                        .currency {
                            color: $orange-color;
                            font-size: $font-size-md;
                        }
                    }
                }
            }
        }

        .generate {
            margin-left: 15px;
            display: flex;
            flex-wrap: wrap;
            width: calc(50% - 31px);
            padding: 8px;
            background-image: linear-gradient($sub-nav-bg, $bg-dark-color);
            border-radius: 3px;

            h4 {
                display: block;
                width: calc(100% - 14px);
                padding: 7px;
                text-align: left;
                font-weight: 600;
                color: $orange-color;
                font-size: $font-size-md;
            }

            p {
                display: block;
                width: calc(100% - 14px);
                padding: 7px;
                line-height: 16px;
                font-size: $font-size-xs;

                .percent {
                    color: $white-color;
                }
            }

            .form {
                display: flex;
                position: relative;
                flex-wrap: wrap;
                width: 100%;
                padding: 7px 0;

                label {
                    display: block;
                    width: calc(100% - 14px);
                    padding: 0 7px;
                    color: $white-color;
                    font-size: $font-size-xs;
                    font-weight: 600;
                }

                .max {
                    top: 33px;
                    right: 103px;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 36px;
                    height: 24px;
                    font-size: $font-size-xs;
                    color: $white-color;
                    font-weight: 600;
                    background: $grid-row-bg;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    border-radius: 3px;

                    &:hover {
                        color: $bg-dark-color;
                        background: $orange-color;
                        transition: 0.3s all ease-in-out;
                    }
                }

                input {
                    margin: 7px;
                    display: flex;
                    width: calc(100% - 128px);
                    height: 30px;
                    padding: 0 10px;
                    font-size: $font-size-xs;
                    color: $white-color;
                    background: $bg-dark-color;
                    border-radius: 3px;
                    border: none;
                    outline: none;
                }

                .btn-generate {
                    margin: 7px;
                    width: 80px;
                    height: 30px;
                    font-size: $font-size-sm;
                    font-weight: 600;
                    color: $bg-dark-color;
                    background: $orange-color;
                    border-radius: 3px;
                    border: none;
                    outline: none;
                    cursor: pointer;

                    &:hover {
                        background: $orange-light-color;
                        transition: 0.3s all ease-in-out;
                    }
    
                    &:active {
                        background: $orange-dark-color;
                        transition: 0.3s all ease-in-out;
                    }
                }

                .note {
                    display: block;
                    width: calc(100% - 14px);
                    padding: 0 7px;
                    font-size: $font-size-xs;
                }

                .error {
                    display: block;
                    width: calc(100% - 14px);
                    padding: 0 7px 7px 7px;
                    font-size: $font-size-xs;
                    color: $red-color;
                }
            }
        }
    }

    .game-history {
        width: calc(100% - 16px);
        margin: 0 8px;
    }

    @media screen and (max-width: 768px) {
        .ref-header {
            .invite {
                width: 100%;
                padding-right: 0;
                padding-bottom: 15px;
            }

            .generate {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}