.blk-top-rank {
    margin: 7px 7px 4px 7px;
    width: calc(14% - 14px);
    background: $sub-nav-bg;
    border-radius: 3px;

    .rank-header {
        display: flex;
        position: relative;
        align-items: center;
        width: calc(100% - 48px);
        height: 40px;
        padding: 0 34px 0 14px;
        background: $bg-dark-color;
        border-radius: 3px 3px 0 0;

        label {
            color: $white-color;
            font-weight: 600;
            font-size: $font-size-xs;
        }

        .close-rank {
            display: none;
        }

        .wnk-icon {
            position: absolute;
            top: 12px;
            right: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 16px;
            height: 16px;
            font-size: 16px;
            color: $orange-color;
        }
    }

    .btn-group {
        display: flex;
        width: calc(100% - 14px);
        padding: 7px;

        .btn {
            margin: 7px;
            width: calc(50% - 16px);
            height: 28px;
            font-size: $font-size-sm;
            font-weight: 600;
            border-radius: 3px;
            border: none;
            outline: none;
            line-height: 12px;
            cursor: pointer;
            color: $text-color;
            background: transparent;
            border: 1px solid $text-color;

            &:hover {
                color: $bg-dark-color;
                background: $white-color;
                border-color: $white-color;
                transition: 0.3s all ease-in-out;
            }

            &.active {
                color: $bg-dark-color;
                background: $orange-color;
                border-color: $orange-color;

                &:hover {
                    background: $orange-light-color;
                    border-color: $orange-light-color;
                    transition: 0.3s all ease-in-out;
                }
    
                &:active {
                    background: $orange-dark-color;
                    border-color: $orange-dark-color;
                    transition: 0.3s all ease-in-out;
                }
            }
        }
    }

    .responsive-table {
        width: 100%;
        height: calc(100% - 96px);
        overflow: auto;
        border-radius: 0 0 3px 3px;

        table {
            width: 100%;
            text-align: left;
            border-spacing: 0;

            tbody {
                tr {
                    &:nth-child(even) {
                        background: $grid-row-bg;
                    }

                    td {
                        height: 40px;
                        font-weight: normal;
                        vertical-align: middle;
                        padding-left: 14px;
                        font-size: $font-size-xs;

                        &.amount {
                            text-align: right;
                            padding-left: 0;
                            padding-right: 14px;
                            color: $orange-color;
                        }

                        &.avatar {
                            img {
                                width: 24px;
                                height: 24px;
                                border-radius: 2px;
                            }
                        }

                        &.nr {
                            font-size: $font-size-sm;
                            font-weight: 600;
                            color: $white-color;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 2000px) {
        width: calc(17% - 14px);
    }

    @media screen and (max-width: 1600px) {
        width: calc(19% - 14px);
    }

    @media screen and (max-width: 1400px) {
        width: calc(21% - 14px);
    }

    @media screen and (max-width: 1200px) {
        position: absolute;
        left: -306px;
        top: 14px;
        display: block;
        z-index: 5;
        margin: 0;
        width: 306px;
        max-width: 306px;
        height: calc(100% - 14px);
        border-radius: 0 3px 3px 0;

        &.show {
            left: 0;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
            animation-name: showchat;
            animation-duration: 0.3s;

            @keyframes showchat {
                from {left: -306px;}
                to {left: 0;}
            }
        }

        .rank-header {
            .wnk-icon {
                display: none;
            }
            
            .close-rank {
                position: absolute;
                display: block;
                top: 5px;
                right: 5px;
                width: 30px;
                height: 30px;
                cursor: pointer;

                &:after, &:before {
                    position: absolute;
                    top: 5px;
                    display: block;
                    content:'';
                    width: 2px;
                    height: 20px;
                    background: $text-color;
                }

                &:after {
                    left: 14px;
                    transform: rotate(45deg);
                }

                &:before {
                    right: 14px;
                    transform: rotate(-45deg);
                }

                &:hover {
                    &:after, &:before {
                        background: $white-color;
                        transition: 0.3s background-color ease-in-out;
                    }
                }
            }
        }
    }
}