$fa-font-path: "../webfonts";

// Colors
$bg-color: #14151A;
$bg-dark-color: #0D0E11;
$text-color: #5C5D68;
$sub-nav-bg: #1B1C23;
$blank-game-bg: #1E1F27;
$dice-game-bg: #32333F;

$white-color: #FFF;
$orange-color: #FBC509;
$orange-light-color: #FFCD1E;
$orange-dark-color: #FB9B09;
$green-color: #26A141;
$red-color: #D80027;

// Font Size
$font-size-xs: 13px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 24px;

// Button Size
$btn-size-md: 50px;
$btn-size-lg: 60px;