.win-promo {
    margin: 0 auto;
    max-width: 1260px;
    display: flex;
    padding: 80px 0;
    flex-direction: column;
    background: url('../img/promo-bg.svg') no-repeat center right;
    background-size: 66.66% auto;

    .h1 {
        width: 33.33%;
        margin-bottom: 80px;
        font-size: 72px;
        line-height: 1;
        font-weight: 600;
        color: $orange-color;

        .win {
            font-size: 72px;
            color: $white-color;
        }
    }

    .dd {
        width: 33.33%;
        font-size: 46px;
        line-height: 1;
        color: $white-color;
    }

    .btn-group {
        display: flex;
        flex-wrap: wrap;
        width: 33.33%;
        padding-top: 90px;

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(50% - 10px);
            height: 50px;
            padding: 0 10px;
            font-size: $font-size-md;
            font-weight: 600;
            line-height: 1;
            border-radius: 25px;
            cursor: pointer;
            border: none;
            outline: none;

            &.btn-orange {
                margin-right: 10px;
                color: $bg-color;
                background: $orange-color;

                &:hover {
                    background: $orange-light-color;
                    transition: 0.3s all ease-in-out;
                }
            }

            &.btn-red {
                margin-left: 10px;
                color: $white-color;
                background: $red-color;

                &:hover {
                    background: $red-light-color;
                    transition: 0.3s all ease-in-out;
                }
            }
        }
    }

    @media screen and (max-width: 1290px) {
        width: calc(100% - 30px);
        padding: 80px 15px;
    }

    @media screen and (max-width: 1060px) {
        .h1, .btn-group, .dd {
            width: 40%;
        }
    }

    @media screen and (max-width: 992px) {
        padding: 40px 15px;
        background-size: 60% auto;
        
        .h1, .dd {
            width: 100%;
        }

        .btn-group{
            width: 50%;
        }
    }

    @media screen and (max-width: 768px) {
        padding: 66px 15px 40px 15px;
        background: url('../img/promo-bg.svg') no-repeat center 260px;
        background-size: 100% auto;

        .h1 {
            margin-bottom: 0;
            text-align: center;
        }

        .dd {
            text-align: center;
        }
        
        .btn-group{
            margin: 0 auto;
            width: 60%;
            padding-top: 400px;
        }
    }

    @media screen and (max-width: 700px) {
        background: url('../img/promo-bg.svg') no-repeat center 260px;
        background-size: 100% auto;

        .btn-group{
            width: 60%;
            padding-top: 360px;
        }
    }

    @media screen and (max-width: 620px) {
        background: url('../img/promo-bg.svg') no-repeat center 280px;
        background-size: 100% auto;
    }

    @media screen and (max-width: 568px) {
        background: url('../img/promo-bg.svg') no-repeat center 260px;
        background-size: 100% auto;

        .btn-group{
            width: 80%;
            padding-top: 300px;
        }
    }

    @media screen and (max-width: 475px) {
        background: url('../img/promo-bg.svg') no-repeat center 200px;
        background-size: 100% auto;

        .h1 {
            font-size: 52px;

            .win {
                font-size: 52px;
            }
        }

        .dd {
            font-size: 30px;
        }

        .btn-group{
            width: 80%;
            padding-top: 240px;
        }
    }

    @media screen and (max-width: 400px) {
        background: url('../img/promo-bg.svg') no-repeat center 200px;
        background-size: 100% auto;

        .btn-group{
            width: 100%;
            padding-top: 240px;
        }
    }

    @media screen and (max-width: 375px) {
        .btn-group{
            padding-top: 200px;
        }
    }
}