@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?44005392');
  src: url('../font/fontello.eot?44005392#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?44005392') format('woff2'),
       url('../font/fontello.woff?44005392') format('woff'),
       url('../font/fontello.ttf?44005392') format('truetype'),
       url('../font/fontello.svg?44005392#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?44005392#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-dice:before { content: '\e800'; } /* '' */
.icon-info:before { content: '\e801'; } /* '' */
.icon-license:before { content: '\e802'; } /* '' */
.icon-new:before { content: '\e803'; } /* '' */
.icon-notification:before { content: '\e804'; } /* '' */
.icon-rake:before { content: '\e805'; } /* '' */
.icon-slots:before { content: '\e806'; } /* '' */
.icon-social-medium:before { content: '\e807'; } /* '' */
.icon-social-telegram:before { content: '\e808'; } /* '' */
.icon-social-twitter:before { content: '\e809'; } /* '' */
.icon-star:before { content: '\e80a'; } /* '' */
.icon-supplier-betsoft:before { content: '\e80b'; } /* '' */
.icon-supplier-bongo:before { content: '\e80c'; } /* '' */
.icon-supplier-caleta:before { content: '\e80d'; } /* '' */
.icon-supplier-evolution:before { content: '\e80e'; } /* '' */
.icon-supplier-gameart:before { content: '\e80f'; } /* '' */
.icon-supplier-goldenhero:before { content: '\e810'; } /* '' */
.icon-supplier-kalamba:before { content: '\e811'; } /* '' */
.icon-supplier-microgaming:before { content: '\e812'; } /* '' */
.icon-supplier-netent:before { content: '\e813'; } /* '' */
.icon-supplier-onetouch:before { content: '\e814'; } /* '' */
.icon-supplier-pragmatic:before { content: '\e815'; } /* '' */
.icon-supplier-spribe:before { content: '\e816'; } /* '' */
.icon-supplier-wazdan:before { content: '\e817'; } /* '' */
.icon-supplier-yggdrasil:before { content: '\e818'; } /* '' */
.icon-trx:before { content: '\e819'; } /* '' */
.icon-usdt:before { content: '\e81a'; } /* '' */
.icon-windrops:before { content: '\e81b'; } /* '' */
.icon-w-wink:before { content: '\e81c'; } /* '' */
.icon-alert:before { content: '\e81d'; } /* '' */
.icon-blink-logo:before { content: '\e81e'; } /* '' */
.icon-casino:before { content: '\e81f'; } /* '' */
.icon-copy:before { content: '\e820'; } /* '' */
.icon-crypto-bnb:before { content: '\e821'; } /* '' */
.icon-crypto-btc:before { content: '\e822'; } /* '' */
.icon-crypto-trx:before { content: '\e823'; } /* '' */
.icon-deposit:before { content: '\e824'; } /* '' */
.icon-trophy:before { content: '\e825'; } /* '' */
.icon-polo:before { content: '\e826'; } /* '' */
.icon-jst:before { content: '\e827'; } /* '' */
.icon-burn:before { content: '\e828'; } /* '' */
.icon-wink:before { content: '\e829'; } /* '' */
.icon-btt:before { content: '\e82a'; } /* '' */
.icon-bnb:before { content: '\e82b'; } /* '' */
.icon-swap:before { content: '\e82c'; } /* '' */
.icon-xmas:before { content: '\e82d'; } /* '' */
.icon-giftbox:before { content: '\e82e'; } /* '' */
.icon-announcement:before { content: '\e82f'; } /* '' */
.icon-tasks:before { content: '\e830'; } /* '' */
.icon-equally:before { content: '\e831'; } /* '' */
.icon-arrow-direction:before { content: '\e832'; } /* '' */
.icon-arrow-up:before { content: '\e833'; } /* '' */
.icon-user-system:before { content: '\e834'; } /* '' */
.icon-error:before { content: '\e835'; } /* '' */
.icon-check-mark:before { content: '\e836'; } /* '' */
.icon-youtube:before { content: '\e837'; } /* '' */
.icon-sound:before { content: '\e838'; } /* '' */
.icon-card-diamonds:before { content: '\e839'; } /* '' */
.icon-card-spades:before { content: '\e83a'; } /* '' */
.icon-card-clubs:before { content: '\e83b'; } /* '' */
.icon-card-hearts:before { content: '\e83c'; } /* '' */
.icon-blk-console:before { content: '\e83d'; } /* '' */
.icon-blk-dice:before { content: '\e83e'; } /* '' */
.icon-playing-cards:before { content: '\e83f'; } /* '' */
.icon-blk-messenger:before { content: '\e840'; } /* '' */
.icon-blk-quality:before { content: '\e841'; } /* '' */
.icon-blk-smile:before { content: '\e842'; } /* '' */
.icon-blk-telegram:before { content: '\e843'; } /* '' */
.icon-blk-trophy:before { content: '\e844'; } /* '' */
.icon-blk-user:before { content: '\e845'; } /* '' */
.icon-blk-wallet:before { content: '\e846'; } /* '' */
.icon-blk-question:before { content: '\e847'; } /* '' */
.icon-shield:before { content: '\e848'; } /* '' */
.icon-list:before { content: '\e849'; } /* '' */
.icon-analytics:before { content: '\e84a'; } /* '' */
.icon-earth-grid:before { content: '\e84b'; } /* '' */
.icon-cloudy:before { content: '\e84c'; } /* '' */
.icon-bank:before { content: '\e84d'; } /* '' */
.icon-link-break:before { content: '\e84e'; } /* '' */
.icon-google-docs:before { content: '\e84f'; } /* '' */
.icon-link:before { content: '\e850'; } /* '' */
.icon-folder:before { content: '\e851'; } /* '' */
.icon-gear:before { content: '\e852'; } /* '' */
.icon-blockchain:before { content: '\e853'; } /* '' */
.icon-user:before { content: '\e854'; } /* '' */
.icon-certificate:before { content: '\e855'; } /* '' */
.icon-database:before { content: '\e856'; } /* '' */
.icon-certificate-1:before { content: '\e857'; } /* '' */
.icon-poloniex:before { content: '\e858'; } /* '' */
.icon-utrnt:before { content: '\e859'; } /* '' */
.icon-polonidex:before { content: '\e85a'; } /* '' */
.icon-trongrid:before { content: '\e85b'; } /* '' */
.icon-justswap:before { content: '\e85c'; } /* '' */