@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.win-header {
  margin: 0 auto;
  position: relative;
  display: flex;
  max-width: 1260px;
  height: 36px;
  padding-top: 27px;
  padding-bottom: 27px; }
  .win-header .wink-logo {
    width: 90px;
    height: 36px;
    background: url("../img/wink-logo.svg") no-repeat left center;
    background-size: auto 36px; }
  .win-header ul {
    display: flex;
    width: calc(100% - 162px); }
    .win-header ul li {
      padding-right: 20px; }
      .win-header ul li a {
        display: flex;
        align-items: center;
        height: 36px;
        font-size: 16px;
        color: #48658C;
        font-weight: 600;
        text-decoration: none; }
        .win-header ul li a .icon {
          display: flex;
          width: 16px;
          height: 16px;
          font-style: normal;
          font-weight: normal;
          margin-right: 10px; }
          .win-header ul li a .icon:before {
            display: flex;
            width: 16px;
            height: 16px;
            line-height: 16px;
            font-size: 16px;
            font-family: 'fontello'; }
          .win-header ul li a .icon.icon-solution:before {
            content: '\e850'; }
          .win-header ul li a .icon.icon-dev:before {
            content: '\e852'; }
          .win-header ul li a .icon.icon-whitepaper:before {
            content: '\e84f'; }
          .win-header ul li a .icon.icon-doc:before {
            content: '\e851'; }
        .win-header ul li a:hover, .win-header ul li a.active {
          color: #FFF;
          transition: 0.3s all ease-in-out; }
          .win-header ul li a:hover .icon, .win-header ul li a.active .icon {
            color: #FBC509;
            transition: 0.3s all ease-in-out; }
  .win-header .btn-group {
    display: flex;
    width: 72px;
    height: 36px;
    justify-content: flex-end; }
    .win-header .btn-group .social {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px; }
      .win-header .btn-group .social:before {
        display: flex;
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 16px;
        color: #FFF;
        font-family: 'fontello';
        content: '\e808'; }
    .win-header .btn-group .set-language {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px; }
      .win-header .btn-group .set-language .flag {
        display: flex;
        width: 34px;
        height: 34px;
        border-radius: 18px;
        border: 1px solid #101E41;
        cursor: pointer; }
        .win-header .btn-group .set-language .flag.us {
          background: url("../img/flag-us.svg") no-repeat center;
          background-size: 18px; }
        .win-header .btn-group .set-language .flag.ch {
          background: url("../img/flag-ch.svg") no-repeat center;
          background-size: 18px; }
      .win-header .btn-group .set-language .dropdown {
        display: none; }
      .win-header .btn-group .set-language:hover .dropdown {
        position: absolute;
        right: 0;
        top: 36px;
        display: flex;
        flex-wrap: wrap;
        width: 102px;
        padding: 6px;
        background: #0A142E;
        border-radius: 3px; }
        .win-header .btn-group .set-language:hover .dropdown .set-lng {
          display: flex;
          width: 66px;
          height: 18px;
          padding: 6px 6px 6px 36px;
          color: #48658C;
          font-size: 13px;
          border-radius: 3px; }
          .win-header .btn-group .set-language:hover .dropdown .set-lng.us {
            background: url("../img/flag-us.svg") no-repeat 6px 6px;
            background-size: 18px; }
          .win-header .btn-group .set-language:hover .dropdown .set-lng.ch {
            background: url("../img/flag-ch.svg") no-repeat 6px 6px;
            background-size: 18px; }
          .win-header .btn-group .set-language:hover .dropdown .set-lng:hover {
            color: #FFF;
            transition: 0.3s all ease-in-out; }
            .win-header .btn-group .set-language:hover .dropdown .set-lng:hover.us {
              background: url("../img/flag-us.svg") no-repeat 6px 6px #101E41;
              background-size: 18px; }
            .win-header .btn-group .set-language:hover .dropdown .set-lng:hover.ch {
              background: url("../img/flag-ch.svg") no-repeat 6px 6px #101E41;
              background-size: 18px; }
  .win-header .burger {
    display: none; }
  @media screen and (max-width: 1290px) {
    .win-header {
      width: calc(100% - 30px);
      padding: 27px 15px;
      background: #060E22; } }
  @media screen and (max-width: 767px) {
    .win-header ul li {
      padding-right: 10px; }
      .win-header ul li a {
        font-size: 14px; }
        .win-header ul li a .icon {
          margin-right: 5px; } }
  @media screen and (max-width: 640px) {
    .win-header .wink-logo {
      width: 75px; }
    .win-header ul {
      width: calc(100% - 147px); }
      .win-header ul li a {
        font-size: 13px; }
        .win-header ul li a .icon {
          margin-right: 5px; } }
  @media screen and (max-width: 576px) {
    .win-header {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 9;
      padding: 15px;
      background: #060E22;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
      .win-header .btn-group {
        width: calc(100% - 126px); }
      .win-header .burger {
        display: flex;
        margin-left: 15px;
        width: 36px;
        height: 36px;
        align-items: center;
        justify-content: center; }
        .win-header .burger .bar {
          position: relative;
          display: block;
          width: 20px;
          height: 2px;
          background: #FFF;
          border-radius: 1px; }
          .win-header .burger .bar:after, .win-header .burger .bar:before {
            position: absolute;
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            background: #FFF;
            border-radius: 1px; }
          .win-header .burger .bar:after {
            top: -8px; }
          .win-header .burger .bar:before {
            top: 8px; }
        .win-header .burger.expand .bar {
          transition: all 0.3s ease-in-out;
          background: rgba(255, 255, 255, 0); }
          .win-header .burger.expand .bar:before, .win-header .burger.expand .bar:after {
            top: 0;
            transition: all 0.3s ease-in-out; }
          .win-header .burger.expand .bar:before {
            transform: rotate(-45deg); }
          .win-header .burger.expand .bar:after {
            transform: rotate(45deg); }
      .win-header .top-nav {
        display: none;
        top: 51px;
        left: -100%; }
        .win-header .top-nav.show {
          position: fixed;
          z-index: 10;
          left: 0;
          display: flex;
          flex-direction: column;
          width: calc(100% - 30px);
          height: calc(100% - 66px);
          padding: 15px;
          background: #060E22;
          animation-name: slidedown;
          animation-duration: 1s; }
    @keyframes slidedown {
      from {
        left: -100%; }
      to {
        left: 0; } }
          .win-header .top-nav.show li a {
            font-size: 16px; }
            .win-header .top-nav.show li a .icon {
              margin-right: 10px; } }

.win-footer {
  min-height: 130px;
  padding: 30px 0;
  background: #030814; }
  .win-footer .content {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap; }
    .win-footer .content .container {
      margin: 0 10px;
      width: calc(25% - 20px); }
      .win-footer .content .container .title {
        display: block;
        margin-bottom: 10px;
        color: #FFF;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 16px;
        font-weight: 600; }
      .win-footer .content .container ul li {
        line-height: 24px; }
        .win-footer .content .container ul li a {
          font-size: 13px;
          color: #48658C;
          text-decoration: underline; }
          .win-footer .content .container ul li a:hover {
            color: #FBC509;
            transition: 0.3s all ease-in-out; }
      .win-footer .content .container .btn-group {
        display: flex;
        flex-wrap: wrap; }
        .win-footer .content .container .btn-group .social {
          display: flex;
          margin: 0 4px 4px 0;
          width: 30px;
          height: 30px;
          align-items: center;
          justify-content: center;
          border-radius: 15px;
          color: #FFF;
          background: #48658C; }
          .win-footer .content .container .btn-group .social:before {
            width: 16px;
            height: 16px;
            line-height: 16px;
            font-size: 14px;
            font-family: 'fontello';
            content: '\e843'; }
          .win-footer .content .container .btn-group .social:hover {
            color: #060E22;
            background: #FFF;
            transition: 0.3s all ease-in-out; }
      .win-footer .content .container .copyrights {
        display: block;
        padding-top: 38px;
        font-size: 13px;
        line-height: 24px;
        color: #48658C; }
  @media screen and (max-width: 1290px) {
    .win-footer {
      padding: 30px 5px; } }
  @media screen and (max-width: 768px) {
    .win-footer {
      padding: 15px 5px; }
      .win-footer .content .container {
        margin: 15px 10px;
        width: calc(50% - 20px); }
        .win-footer .content .container:nth-child(1) {
          order: 3; }
        .win-footer .content .container:nth-child(2) {
          order: 1; }
        .win-footer .content .container:nth-child(3) {
          order: 2; }
        .win-footer .content .container:nth-child(4) {
          order: 4; } }
  @media screen and (max-width: 375px) {
    .win-footer .content .container .copyrights {
      padding-top: 14px; } }

.win-promo {
  margin: 0 auto;
  max-width: 1260px;
  display: flex;
  padding: 80px 0;
  flex-direction: column;
  background: url("../img/promo-bg.svg") no-repeat center right;
  background-size: 66.66% auto; }
  .win-promo .h1 {
    width: 33.33%;
    margin-bottom: 80px;
    font-size: 72px;
    line-height: 1;
    font-weight: 600;
    color: #FBC509; }
    .win-promo .h1 .win {
      font-size: 72px;
      color: #FFF; }
  .win-promo .dd {
    width: 33.33%;
    font-size: 46px;
    line-height: 1;
    color: #FFF; }
  .win-promo .btn-group {
    display: flex;
    flex-wrap: wrap;
    width: 33.33%;
    padding-top: 90px; }
    .win-promo .btn-group .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(50% - 10px);
      height: 50px;
      padding: 0 10px;
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      border-radius: 25px;
      cursor: pointer;
      border: none;
      outline: none; }
      .win-promo .btn-group .btn.btn-orange {
        margin-right: 10px;
        color: #060E22;
        background: #FBC509; }
        .win-promo .btn-group .btn.btn-orange:hover {
          background: #FFCF29;
          transition: 0.3s all ease-in-out; }
      .win-promo .btn-group .btn.btn-red {
        margin-left: 10px;
        color: #FFF;
        background: #D80027; }
        .win-promo .btn-group .btn.btn-red:hover {
          background: #FF002E;
          transition: 0.3s all ease-in-out; }
  @media screen and (max-width: 1290px) {
    .win-promo {
      width: calc(100% - 30px);
      padding: 80px 15px; } }
  @media screen and (max-width: 1060px) {
    .win-promo .h1, .win-promo .btn-group, .win-promo .dd {
      width: 40%; } }
  @media screen and (max-width: 992px) {
    .win-promo {
      padding: 40px 15px;
      background-size: 60% auto; }
      .win-promo .h1, .win-promo .dd {
        width: 100%; }
      .win-promo .btn-group {
        width: 50%; } }
  @media screen and (max-width: 768px) {
    .win-promo {
      padding: 66px 15px 40px 15px;
      background: url("../img/promo-bg.svg") no-repeat center 260px;
      background-size: 100% auto; }
      .win-promo .h1 {
        margin-bottom: 0;
        text-align: center; }
      .win-promo .dd {
        text-align: center; }
      .win-promo .btn-group {
        margin: 0 auto;
        width: 60%;
        padding-top: 400px; } }
  @media screen and (max-width: 700px) {
    .win-promo {
      background: url("../img/promo-bg.svg") no-repeat center 260px;
      background-size: 100% auto; }
      .win-promo .btn-group {
        width: 60%;
        padding-top: 360px; } }
  @media screen and (max-width: 620px) {
    .win-promo {
      background: url("../img/promo-bg.svg") no-repeat center 280px;
      background-size: 100% auto; } }
  @media screen and (max-width: 568px) {
    .win-promo {
      background: url("../img/promo-bg.svg") no-repeat center 260px;
      background-size: 100% auto; }
      .win-promo .btn-group {
        width: 80%;
        padding-top: 300px; } }
  @media screen and (max-width: 475px) {
    .win-promo {
      background: url("../img/promo-bg.svg") no-repeat center 200px;
      background-size: 100% auto; }
      .win-promo .h1 {
        font-size: 52px; }
        .win-promo .h1 .win {
          font-size: 52px; }
      .win-promo .dd {
        font-size: 30px; }
      .win-promo .btn-group {
        width: 80%;
        padding-top: 240px; } }
  @media screen and (max-width: 400px) {
    .win-promo {
      background: url("../img/promo-bg.svg") no-repeat center 200px;
      background-size: 100% auto; }
      .win-promo .btn-group {
        width: 100%;
        padding-top: 240px; } }
  @media screen and (max-width: 375px) {
    .win-promo .btn-group {
      padding-top: 200px; } }

.win-about {
  padding: 80px 0;
  background: linear-gradient(180deg, #0A142E, #060E22); }
  .win-about .content {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap; }
    .win-about .content .h3 {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: center;
      margin-bottom: 80px;
      font-size: 24px;
      line-height: 46px;
      font-weight: 600;
      color: #FFF; }
      .win-about .content .h3:before {
        position: absolute;
        left: calc(50% - 20px);
        bottom: 0;
        width: 40px;
        height: 4px;
        content: '';
        background: #FBC509;
        border-radius: 2px; }
    .win-about .content .container {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin: 10px;
      width: calc(33.33% - 100px);
      padding: 40px;
      background: linear-gradient(180deg, #FBC509, #FFCF29);
      border-radius: 15px; }
      .win-about .content .container .icon {
        position: absolute;
        left: calc(50% - 40px);
        top: -40px;
        width: 80px;
        height: 80px;
        font-style: normal;
        border-radius: 40px;
        background: #FFF; }
        .win-about .content .container .icon:after {
          display: flex;
          position: absolute;
          left: 20px;
          top: 20px;
          width: 40px;
          height: 40px;
          font-size: 40px;
          line-height: 1;
          color: #060E22;
          font-family: 'fontello'; }
        .win-about .content .container .icon.icon-defi:after {
          content: '\e84a'; }
        .win-about .content .container .icon.icon-trust:after {
          content: '\e848'; }
        .win-about .content .container .icon.icon-ecosystem:after {
          content: '\e853'; }
      .win-about .content .container .title {
        display: block;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        font-size: 16px;
        color: #FFF;
        font-weight: 600;
        line-height: 24px;
        text-shadow: 0px 1px 0px #FCB609; }
      .win-about .content .container .dd {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 13px;
        color: #060E22;
        line-height: 16px; }
      .win-about .content .container:hover .icon {
        transform: scale(1.05);
        transition: 0.3s all ease-in-out; }
  @media screen and (max-width: 1290px) {
    .win-about {
      width: calc(100% - 10px);
      padding: 80px 5px; } }
  @media screen and (max-width: 992px) {
    .win-about {
      padding: 40px 5px; } }
  @media screen and (max-width: 768px) {
    .win-about .content .h3 {
      margin-bottom: 20px; }
    .win-about .content .container {
      margin-top: 60px;
      width: calc(100% - 20px); } }

.win-get-started {
  padding: 0 0 80px 0; }
  .win-get-started .content {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap; }
    .win-get-started .content .h4 {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: center;
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 46px;
      font-weight: 600;
      color: #FFF; }
      .win-get-started .content .h4:before {
        position: absolute;
        left: calc(50% - 20px);
        bottom: 0;
        width: 40px;
        height: 4px;
        content: '';
        background: #D80027;
        border-radius: 2px; }
    .win-get-started .content .container {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin: 10px;
      width: calc(50% - 300px);
      padding: 160px 140px 40px 140px;
      border-radius: 15px; }
      .win-get-started .content .container.node {
        background: url("../img/build-node.svg") no-repeat center top #0A142E;
        background-size: auto 160px; }
        .win-get-started .content .container.node:hover {
          background: url("../img/build-node.svg") no-repeat center top #101E41;
          background-size: auto 160px;
          transition: 0.3s all ease-in-out; }
      .win-get-started .content .container.value {
        background: url("../img/value-service.svg") no-repeat center top #0A142E;
        background-size: auto 160px; }
        .win-get-started .content .container.value:hover {
          background: url("../img/value-service.svg") no-repeat center top #101E41;
          background-size: auto 160px;
          transition: 0.3s all ease-in-out; }
      .win-get-started .content .container .title {
        display: block;
        width: 100%;
        padding: 20px 0;
        text-align: center;
        font-size: 16px;
        color: #D80027;
        font-weight: 600;
        line-height: 24px; }
      .win-get-started .content .container .dd {
        display: block;
        width: 100%;
        padding-bottom: 30px;
        text-align: center;
        font-size: 13px;
        color: #48658C;
        line-height: 16px; }
      .win-get-started .content .container .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 10px);
        height: 36px;
        padding: 0 10px;
        font-size: 13px;
        line-height: 1;
        color: #060E22;
        border-radius: 18px;
        cursor: pointer;
        border: none;
        outline: none;
        background: #FFF; }
  @media screen and (max-width: 1290px) {
    .win-get-started {
      width: calc(100% - 10px);
      padding: 0 5px 80px 5px; } }
  @media screen and (max-width: 1200px) {
    .win-get-started .content .container {
      width: calc(50% - 100px);
      padding: 160px 40px 40px 40px;
      border-radius: 15px; } }
  @media screen and (max-width: 992px) {
    .win-get-started {
      padding: 0 5px 40px 5px; }
      .win-get-started .content .h4 {
        margin-bottom: 30px; } }
  @media screen and (max-width: 768px) {
    .win-get-started .content .container {
      width: calc(100% - 300px);
      padding: 160px 140px 40px 140px; } }
  @media screen and (max-width: 576px) {
    .win-get-started .content .container {
      width: calc(100% - 100px);
      padding: 160px 40px 40px 40px; } }

.win-scheme {
  padding: 80px 0; }
  .win-scheme .content {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .win-scheme .content .h2 {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: center;
      text-align: center;
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 46px;
      font-weight: 600;
      color: #FFF; }
      .win-scheme .content .h2:before {
        position: absolute;
        left: calc(50% - 20px);
        bottom: 0;
        width: 40px;
        height: 4px;
        content: '';
        background: #FBC509;
        border-radius: 2px; }
    .win-scheme .content .scheme {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 800px; }
      .win-scheme .content .scheme .side {
        position: relative;
        display: flex;
        width: 305px;
        height: 140px; }
        .win-scheme .content .scheme .side:before {
          position: absolute;
          z-index: 1;
          top: 69px;
          width: 100%;
          height: 2px;
          content: '';
          background: #48658C; }
        .win-scheme .content .scheme .side .container {
          position: relative;
          z-index: 2;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          width: 146px;
          height: 106px;
          padding: 15px 0 15px 40px;
          border-radius: 15px;
          background: #060E22;
          border: 2px solid #48658C; }
          .win-scheme .content .scheme .side .container label {
            display: flex;
            margin: 8px 0;
            width: 100%;
            font-size: 14px;
            color: #FFF;
            font-weight: 600;
            line-height: 20px; }
            .win-scheme .content .scheme .side .container label .icon {
              display: flex;
              margin-right: 10px;
              width: 20px;
              height: 20px;
              font-weight: normal;
              font-style: normal; }
              .win-scheme .content .scheme .side .container label .icon:before {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                line-height: 20px;
                font-size: 20px;
                font-family: 'fontello'; }
              .win-scheme .content .scheme .side .container label .icon.icon-bank:before {
                content: '\e84d'; }
              .win-scheme .content .scheme .side .container label .icon.icon-weather:before {
                content: '\e84c'; }
              .win-scheme .content .scheme .side .container label .icon.icon-internet:before {
                content: '\e84b'; }
        .win-scheme .content .scheme .side .icon-socket {
          position: absolute;
          z-index: 3;
          display: block;
          top: 60px;
          width: 14px;
          height: 20px;
          background: #48658C;
          border-radius: 10px 0 0 10px; }
          .win-scheme .content .scheme .side .icon-socket:before {
            position: absolute;
            right: -6px;
            width: 6px;
            height: 8px;
            top: 4px;
            content: '';
            background: #060E22;
            border-top: 2px solid #48658C;
            border-bottom: 2px solid #48658C; }
        .win-scheme .content .scheme .side.world {
          justify-content: flex-start; }
          .win-scheme .content .scheme .side.world .icon-socket {
            right: 6px; }
        .win-scheme .content .scheme .side.blockchain {
          justify-content: flex-end; }
          .win-scheme .content .scheme .side.blockchain .icon-socket {
            left: 6px;
            transform: rotate(180deg); }
          .win-scheme .content .scheme .side.blockchain .container label .icon {
            border-radius: 10px;
            background: #48658C; }
            .win-scheme .content .scheme .side.blockchain .container label .icon.icon-trx:before {
              content: '\e819';
              font-size: 12px; }
            .win-scheme .content .scheme .side.blockchain .container label .icon.icon-jst:before {
              content: '\e827';
              font-size: 12px; }
      .win-scheme .content .scheme:hover .side:before, .win-scheme .content .scheme:hover .side:after {
        background: #FBC509;
        transition: 0.3s all ease-in-out; }
      .win-scheme .content .scheme:hover .side .container {
        border-color: #FBC509;
        transition: 0.3s all ease-in-out; }
      .win-scheme .content .scheme:hover .side .icon-socket {
        background: #FBC509;
        transition: 0.3s all ease-in-out; }
        .win-scheme .content .scheme:hover .side .icon-socket:before {
          border-color: #FBC509;
          transition: 0.3s all ease-in-out; }
      .win-scheme .content .scheme .middle {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 186px;
        height: 120px;
        padding-top: 16px;
        border-radius: 15px;
        border: 2px solid #FBC509; }
        .win-scheme .content .scheme .middle .wink-logo {
          display: block;
          width: 90px;
          height: 60px;
          background: url("../img/wink-logo.svg") no-repeat center;
          background-size: 100% auto; }
        .win-scheme .content .scheme .middle label {
          font-size: 16px;
          color: #FFF;
          font-weight: 600;
          line-height: 60px; }
          .win-scheme .content .scheme .middle label .oracle {
            font-size: 16px;
            color: #FBC509; }
      .win-scheme .content .scheme .disconnected {
        position: relative;
        width: 610px;
        height: 38px;
        border: 2px solid #48658C;
        border-top: none; }
        .win-scheme .content .scheme .disconnected .node {
          position: absolute;
          left: calc(50% - 44px);
          bottom: -9px;
          display: flex;
          width: 88px;
          height: 20px;
          background: #060E22; }
          .win-scheme .content .scheme .disconnected .node .icon-socket {
            position: relative;
            display: block;
            width: 14px;
            height: 20px;
            background: #48658C;
            border-radius: 10px 0 0 10px; }
            .win-scheme .content .scheme .disconnected .node .icon-socket:last-child {
              transform: rotate(180deg); }
            .win-scheme .content .scheme .disconnected .node .icon-socket:before {
              position: absolute;
              right: -6px;
              width: 6px;
              height: 8px;
              top: 4px;
              content: '';
              background: #060E22;
              border-top: 2px solid #48658C;
              border-bottom: 2px solid #48658C; }
          .win-scheme .content .scheme .disconnected .node .icon-broken-link {
            margin-top: -5px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 30px;
            color: #48658C; }
            .win-scheme .content .scheme .disconnected .node .icon-broken-link:before {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 30px;
              height: 30px;
              line-height: 30px;
              font-size: 30px;
              font-family: 'fontello';
              content: '\e84e'; }
    .win-scheme .content .dd {
      display: flex;
      width: 100%;
      margin-top: 40px;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      color: #48658C; }
  @media screen and (max-width: 992px) {
    .win-scheme {
      padding: 40px 0; }
      .win-scheme .content {
        width: calc(100% - 30px);
        padding: 0 15px; }
        .win-scheme .content .h2 {
          line-height: 1; }
          .win-scheme .content .h2:before {
            bottom: -10px; }
        .win-scheme .content .scheme {
          position: relative;
          margin: 0 auto;
          width: 190px; }
          .win-scheme .content .scheme .side {
            width: 190px;
            height: 140px; }
            .win-scheme .content .scheme .side:before {
              display: none; }
            .win-scheme .content .scheme .side:after {
              position: absolute;
              z-index: 1;
              top: 0;
              left: 94px;
              width: 2px;
              height: 100%;
              content: '';
              background: #48658C; }
            .win-scheme .content .scheme .side .icon-socket {
              position: absolute;
              z-index: 3;
              display: block;
              top: 60px;
              width: 20px;
              height: 14px;
              border-radius: 10px 10px 0 0; }
              .win-scheme .content .scheme .side .icon-socket:before {
                position: absolute;
                right: 4px;
                width: 8px;
                height: 6px;
                top: 14px;
                content: '';
                background: #060E22;
                border-top: none;
                border-bottom: none;
                border-left: 2px solid #48658C;
                border-right: 2px solid #48658C; }
            .win-scheme .content .scheme .side.world {
              padding-bottom: 50px; }
              .win-scheme .content .scheme .side.world .icon-socket {
                right: 85px;
                top: 170px; }
            .win-scheme .content .scheme .side.blockchain {
              padding-top: 50px; }
              .win-scheme .content .scheme .side.blockchain .icon-socket {
                left: 85px;
                top: 6px; }
          .win-scheme .content .scheme .disconnected {
            position: absolute;
            width: 380px;
            left: 18px;
            top: 242px;
            transform: rotate(-90deg); }
            .win-scheme .content .scheme .disconnected .node {
              bottom: -11px; } }

.win-sub-header {
  position: relative;
  width: calc(100% - 30px);
  min-height: 370px;
  padding: 65px 15px;
  background: linear-gradient(#060E22, #0A142E); }
  .win-sub-header:before {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    content: '';
    background: url("../img/pulse.svg") no-repeat center bottom;
    background-size: auto 500px; }
  .win-sub-header .h1 {
    margin: 0 auto;
    position: relative;
    z-index: 2;
    max-width: 576px;
    padding: 15px 0;
    font-size: 46px;
    font-weight: 600;
    line-height: 1.2;
    color: #FBC509;
    text-align: center; }
  .win-sub-header .dd {
    margin: 0 auto;
    position: relative;
    z-index: 2;
    max-width: 576px;
    padding-bottom: 15px;
    font-size: 13px;
    line-height: 16px;
    color: #48658C;
    text-align: center; }
  .win-sub-header .btn-group {
    margin: 0 auto;
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    max-width: 410px;
    padding-top: 90px; }
    .win-sub-header .btn-group .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(50% - 10px);
      height: 50px;
      padding: 0 10px;
      font-size: 16px;
      font-weight: 600;
      line-height: 1;
      border-radius: 25px;
      cursor: pointer;
      border: none;
      outline: none; }
      .win-sub-header .btn-group .btn.btn-orange {
        margin-right: 10px;
        color: #060E22;
        background: #FBC509; }
        .win-sub-header .btn-group .btn.btn-orange:hover {
          background: #FFCF29;
          transition: 0.3s all ease-in-out; }
      .win-sub-header .btn-group .btn.btn-red {
        margin-left: 10px;
        color: #FFF;
        background: #D80027; }
        .win-sub-header .btn-group .btn.btn-red:hover {
          background: #FF002E;
          transition: 0.3s all ease-in-out; }
  @media screen and (max-width: 576px) {
    .win-sub-header {
      padding: 65px 15px 40px 15px; }
      .win-sub-header .btn-group {
        padding-top: 40px; } }
  @media screen and (max-width: 375px) {
    .win-sub-header .btn-group {
      padding-top: 10px; }
      .win-sub-header .btn-group .btn {
        width: 100%;
        margin: 10px 0; }
        .win-sub-header .btn-group .btn.btn-orange {
          margin-right: 0px; }
        .win-sub-header .btn-group .btn.btn-red {
          margin-left: 0px; } }

.win-block-group {
  margin: 0 auto 20px auto;
  position: relative;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  padding: 10px; }
  .win-block-group.margin-heading {
    margin-top: -160px; }
  .win-block-group.double .container {
    width: calc(50% - 100px); }
  .win-block-group .h4 {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 46px;
    font-weight: 600;
    color: #FFF; }
    .win-block-group .h4:before {
      position: absolute;
      left: calc(50% - 20px);
      bottom: 0;
      width: 40px;
      height: 4px;
      content: '';
      background: #D80027;
      border-radius: 2px; }
  .win-block-group .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: calc(25% - 100px);
    padding: 40px 40px 25px 40px;
    background: linear-gradient(180deg, #FBC509, #FFCF29);
    border-radius: 15px; }
    .win-block-group .container .icon {
      position: absolute;
      left: calc(50% - 40px);
      top: -40px;
      width: 80px;
      height: 80px;
      font-style: normal;
      border-radius: 40px;
      background: #FFF; }
      .win-block-group .container .icon:after {
        display: flex;
        position: absolute;
        left: 20px;
        top: 20px;
        width: 40px;
        height: 40px;
        font-size: 40px;
        line-height: 1;
        color: #060E22;
        font-family: 'fontello'; }
      .win-block-group .container .icon.icon-trx:after {
        content: '\e819'; }
      .win-block-group .container .icon.icon-defi:after {
        content: '\e84a'; }
      .win-block-group .container .icon.icon-contract:after {
        content: '\e857'; }
      .win-block-group .container .icon.icon-ecosystem:after {
        content: '\e853'; }
      .win-block-group .container .icon.icon-apply:after {
        content: '\e849'; }
    .win-block-group .container .title {
      display: block;
      width: 100%;
      padding: 20px 0;
      text-align: center;
      font-size: 16px;
      color: #FFF;
      font-weight: 600;
      line-height: 24px;
      text-shadow: 0px 1px 0px #FCB609; }
    .win-block-group .container .dd {
      display: block;
      width: 100%;
      padding-bottom: 20px;
      text-align: center;
      font-size: 13px;
      color: #060E22;
      line-height: 16px; }
    .win-block-group .container .btn {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      min-width: 90px;
      padding: 0 10px;
      font-size: 13px;
      line-height: 1;
      color: #FFF;
      border-radius: 18px;
      cursor: pointer;
      border: none;
      outline: none;
      background: #D80027; }
      .win-block-group .container .btn:hover {
        background: #FF002E;
        transition: 0.3s all ease-in-out; }
    .win-block-group .container:hover .icon {
      transform: scale(1.05);
      transition: 0.3s all ease-in-out; }
  @media screen and (max-width: 1090px) {
    .win-block-group .container {
      width: calc(50% - 100px);
      margin-bottom: 50px; } }
  @media screen and (max-width: 576px) {
    .win-block-group .h4 {
      margin-bottom: 60px; }
    .win-block-group .container {
      width: calc(100% - 100px); }
    .win-block-group.double .container {
      width: calc(100% - 100px); } }

.win-price-data {
  margin: 0 auto 20px auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 1260px;
  background: #0A142E;
  border-radius: 3px; }
  .win-price-data .data-header {
    display: flex;
    align-items: center;
    width: calc(100% - 30px);
    height: 50px;
    padding: 0 15px;
    border-radius: 3px 3px 0 0;
    background: #040916; }
    .win-price-data .data-header label {
      width: 100%;
      font-size: 16px;
      color: #FFF;
      font-weight: 600; }
    .win-price-data .data-header .data-nav {
      display: flex;
      width: 200px;
      min-width: 200px; }
      .win-price-data .data-header .data-nav .select {
        display: flex;
        position: relative;
        width: 200px;
        height: 36px;
        padding: 0;
        overflow: hidden;
        background: #060E22;
        border-radius: 3px; }
        .win-price-data .data-header .data-nav .select input {
          position: relative;
          z-index: 1;
          width: calc(100% - 40px);
          height: 36px;
          padding: 0 30px 0 10px;
          font-size: 13px;
          color: #48658C;
          background: transparent;
          border: none;
          outline: none; }
          .win-price-data .data-header .data-nav .select input:focus {
            color: #FFF; }
        .win-price-data .data-header .data-nav .select .btn-search {
          position: absolute;
          top: 10px;
          z-index: 2;
          width: 14px;
          height: 14px;
          cursor: pointer;
          right: 10px; }
          .win-price-data .data-header .data-nav .select .btn-search:before {
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            width: 8px;
            height: 8px;
            border: 2px solid #FFF;
            border-radius: 8px; }
          .win-price-data .data-header .data-nav .select .btn-search:after {
            position: absolute;
            display: block;
            width: 2px;
            height: 6px;
            content: '';
            bottom: 0;
            right: 2px;
            background: #FFF;
            transform: rotate(-45deg); }
  .win-price-data .more-prices {
    display: flex;
    width: 100%;
    height: 36px;
    align-items: center;
    justify-content: flex-start;
    font-size: 13px;
    background: #060E22; }
    .win-price-data .more-prices a {
      color: #FBC509;
      text-decoration: underline; }
  .win-price-data .table-responsive {
    width: 100%;
    overflow: auto;
    border-radius: 0 0 3px 3px;
    color: #48658C; }
    .win-price-data .table-responsive table {
      width: 100%;
      border-spacing: 0;
      text-align: left; }
      .win-price-data .table-responsive table thead th {
        height: 36px;
        font-weight: normal;
        vertical-align: middle;
        padding-left: 15px;
        border-bottom: 2px solid #101E41; }
      .win-price-data .table-responsive table tbody tr:nth-child(even) {
        background: #101E41; }
      .win-price-data .table-responsive table tbody tr td {
        height: 36px;
        font-weight: normal;
        white-space: nowrap;
        vertical-align: middle;
        padding-left: 15px; }
        .win-price-data .table-responsive table tbody tr td.pair, .win-price-data .table-responsive table tbody tr td.price {
          width: 25%; }
        .win-price-data .table-responsive table tbody tr td .icon-group {
          display: flex; }
        .win-price-data .table-responsive table tbody tr td .icon {
          position: relative;
          float: left;
          margin-right: 8px;
          width: 24px;
          height: 24px;
          font-style: normal;
          border-radius: 40px;
          background: #48658C; }
          .win-price-data .table-responsive table tbody tr td .icon:after {
            display: flex;
            position: absolute;
            left: 0;
            top: 0;
            width: 24px;
            height: 24px;
            line-height: 1;
            justify-content: center;
            align-items: center;
            color: #FFF;
            font-family: 'fontello'; }
          .win-price-data .table-responsive table tbody tr td .icon.icon-justswap:after {
            font-size: 18px;
            content: '\e85c'; }
          .win-price-data .table-responsive table tbody tr td .icon.icon-poloniex:after {
            font-size: 12px;
            content: '\e858'; }
          .win-price-data .table-responsive table tbody tr td .icon.icon-polonidex:after {
            font-size: 8px;
            content: '\e85a'; }
          .win-price-data .table-responsive table tbody tr td .icon.icon-tronlink {
            overflow: hidden; }
            .win-price-data .table-responsive table tbody tr td .icon.icon-tronlink:after {
              left: 7px;
              top: 9px;
              content: '\e819';
              font-size: 32px; }
          .win-price-data .table-responsive table tbody tr td .icon.icon-trongrid:after {
            font-size: 16px;
            content: '\e85b'; }
          .win-price-data .table-responsive table tbody tr td .icon.icon-btt:after {
            font-size: 16px;
            content: '\e82a'; }
          .win-price-data .table-responsive table tbody tr td .icon.icon-utorrent:after {
            left: 4px;
            top: 4px;
            align-items: flex-start;
            width: 14px;
            height: 14px;
            font-size: 14px;
            content: '\e859';
            border: 1px solid #FFF;
            border-radius: 8px;
            overflow: hidden; }
        .win-price-data .table-responsive table tbody tr td.nav-col {
          width: 80px;
          text-align: right;
          padding-right: 15px; }
          .win-price-data .table-responsive table tbody tr td.nav-col .btn {
            width: 80px;
            height: 28px;
            align-items: center;
            justify-content: center;
            padding: 0;
            color: #FFF;
            border-radius: 15px;
            cursor: pointer;
            background: transparent;
            outline: none;
            border: 1px solid #48658C; }
            .win-price-data .table-responsive table tbody tr td.nav-col .btn:hover {
              background: #48658C;
              transition: 0.3s background-color ease-in-out; }
            .win-price-data .table-responsive table tbody tr td.nav-col .btn.hide {
              display: none; }
    .win-price-data .table-responsive.my-balances table tbody tr td {
      height: 50px; }
  @media screen and (max-width: 1300px) {
    .win-price-data {
      margin: 0 20px 20px 20px; } }

.win-partners {
  margin: 0 auto 40px auto;
  position: relative;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  padding: 10px; }
  .win-partners .h2 {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 46px;
    font-weight: 600;
    color: #FFF; }
    .win-partners .h2:before {
      position: absolute;
      left: calc(50% - 20px);
      bottom: 0;
      width: 40px;
      height: 4px;
      content: '';
      background: #D80027;
      border-radius: 2px; }
  .win-partners .partner-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap; }
    .win-partners .partner-list .partner {
      margin: 10px;
      width: calc(25% - 20px);
      height: 70px;
      opacity: 0.7; }
      .win-partners .partner-list .partner:hover {
        opacity: 1;
        transition: 0.3s all ease-in-out; }
      .win-partners .partner-list .partner.bitfinex {
        background: url("../img/logo-bitfinex.svg") no-repeat center;
        background-size: 170px auto; }
      .win-partners .partner-list .partner.tether {
        background: url("../img/logo-tether.svg") no-repeat center;
        background-size: auto 38px; }
      .win-partners .partner-list .partner.poloniex {
        background: url("../img/logo-poloniex.svg") no-repeat center;
        background-size: 170px auto; }
      .win-partners .partner-list .partner.polonidex {
        background: url("../img/logo-polonidex.svg") no-repeat center;
        background-size: 170px auto; }
      .win-partners .partner-list .partner.tronlink {
        background: url("../img/logo-tronlink.svg") no-repeat center;
        background-size: 170px auto; }
      .win-partners .partner-list .partner.trongrid {
        background: url("../img/logo-trongrid.svg") no-repeat center;
        background-size: auto 48px; }
      .win-partners .partner-list .partner.bittorrent {
        background: url("../img/logo-bittorrent.svg") no-repeat center;
        background-size: 170px auto; }
      .win-partners .partner-list .partner.utorrent {
        background: url("../img/logo-utorrent.svg") no-repeat center;
        background-size: 170px auto; }
      .win-partners .partner-list .partner.sun {
        background: url("../img/logo-sun.svg") no-repeat center;
        background-size: auto 48px; }
      .win-partners .partner-list .partner.dlive {
        background: url("../img/logo-dlive.svg") no-repeat center;
        background-size: auto 48px; }
      .win-partners .partner-list .partner.steemit {
        background: url("../img/logo-steemit.svg") no-repeat center;
        background-size: 170px auto; }
      .win-partners .partner-list .partner.steem {
        background: url("../img/logo-steem.svg") no-repeat center;
        background-size: auto 48px; }
      .win-partners .partner-list .partner.justswap {
        background: url("../img/logo-justswap.svg") no-repeat center;
        background-size: 170px auto; }
  @media screen and (max-width: 992px) {
    .win-partners .partner-list .partner {
      width: calc(33.33% - 20px); } }
  @media screen and (max-width: 640px) {
    .win-partners .h2 {
      margin-bottom: 20px; }
    .win-partners .partner-list .partner {
      width: calc(50% - 20px);
      height: 24px; }
      .win-partners .partner-list .partner.bitfinex {
        background: url("../img/logo-bitfinex.svg") no-repeat center;
        background-size: 80px auto; }
      .win-partners .partner-list .partner.tether {
        background: url("../img/logo-tether.svg") no-repeat center;
        background-size: auto 20px; }
      .win-partners .partner-list .partner.poloniex {
        background: url("../img/logo-poloniex.svg") no-repeat center;
        background-size: 80px auto; }
      .win-partners .partner-list .partner.polonidex {
        background: url("../img/logo-polonidex.svg") no-repeat center;
        background-size: 80px auto; }
      .win-partners .partner-list .partner.tronlink {
        background: url("../img/logo-tronlink.svg") no-repeat center;
        background-size: 80px auto; }
      .win-partners .partner-list .partner.trongrid {
        background: url("../img/logo-trongrid.svg") no-repeat center;
        background-size: auto 24px; }
      .win-partners .partner-list .partner.bittorrent {
        background: url("../img/logo-bittorrent.svg") no-repeat center;
        background-size: 80px auto; }
      .win-partners .partner-list .partner.utorrent {
        background: url("../img/logo-utorrent.svg") no-repeat center;
        background-size: 80px auto; }
      .win-partners .partner-list .partner.sun {
        background: url("../img/logo-sun.svg") no-repeat center;
        background-size: auto 24px; }
      .win-partners .partner-list .partner.dlive {
        background: url("../img/logo-dlive.svg") no-repeat center;
        background-size: auto 24px; }
      .win-partners .partner-list .partner.steemit {
        background: url("../img/logo-steemit.svg") no-repeat center;
        background-size: 80px auto; }
      .win-partners .partner-list .partner.steem {
        background: url("../img/logo-steem.svg") no-repeat center;
        background-size: auto 24px; }
      .win-partners .partner-list .partner.justswap {
        background: url("../img/logo-justswap.svg") no-repeat center;
        background-size: 80px auto; } }

.win-supernode {
  margin: 0 auto 20px auto;
  position: relative;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1280px;
  padding: 40px 10px; }
  .win-supernode .h2 {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 46px;
    font-weight: 600;
    color: #FFF; }
    .win-supernode .h2:before {
      position: absolute;
      left: calc(50% - 20px);
      bottom: 0;
      width: 40px;
      height: 4px;
      content: '';
      background: #FBC509;
      border-radius: 2px; }
  .win-supernode .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    width: calc(33.33% - 140px);
    padding: 20px 20px 20px 100px;
    background: #0A142E;
    border-radius: 15px; }
    .win-supernode .container .icon {
      position: absolute;
      left: 15px;
      top: 15px;
      width: 70px;
      height: 70px;
      font-style: normal;
      border-radius: 35px;
      overflow: hidden;
      background: #48658C; }
      .win-supernode .container .icon:after {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        width: 70px;
        height: 70px;
        align-items: center;
        justify-content: center;
        line-height: 1;
        color: #FFF;
        font-family: 'fontello'; }
      .win-supernode .container .icon.icon-trx:after {
        left: 20px;
        top: 25px;
        content: '\e819';
        font-size: 90px; }
      .win-supernode .container .icon.icon-justswap:after {
        font-size: 52px;
        content: '\e85c'; }
      .win-supernode .container .icon.icon-poloniex:after {
        font-size: 40px;
        content: '\e858'; }
      .win-supernode .container .icon.icon-polonidex:after {
        font-size: 24px;
        content: '\e85a'; }
      .win-supernode .container .icon.icon-trongrid:after {
        font-size: 48px;
        content: '\e85b'; }
      .win-supernode .container .icon.icon-btt:after {
        font-size: 48px;
        content: '\e82a'; }
      .win-supernode .container .icon.icon-utorrent:after {
        left: 11px;
        top: 11px;
        align-items: flex-start;
        width: 44px;
        height: 44px;
        font-size: 48px;
        content: '\e859';
        border: 2px solid #FFF;
        border-radius: 24px;
        overflow: hidden; }
    .win-supernode .container .title {
      display: flex;
      width: 100%;
      max-height: 36px;
      padding: 0;
      text-align: left;
      font-size: 16px;
      color: #FFF;
      font-weight: 600;
      line-height: 24px; }
    .win-supernode .container .dd {
      display: flex;
      width: 100%;
      text-align: left;
      align-items: flex-start;
      font-size: 13px;
      color: #48658C;
      line-height: 16px; }
    .win-supernode .container:hover .icon {
      transform: scale(1.05);
      transition: 0.3s all ease-in-out; }
  @media screen and (max-width: 992px) {
    .win-supernode .container {
      width: calc(50% - 140px); } }
  @media screen and (max-width: 576px) {
    .win-supernode {
      padding: 20px 10px; }
      .win-supernode .h2 {
        margin-bottom: 20px; }
      .win-supernode .container {
        width: calc(100% - 140px); } }

.win-roadmap {
  position: relative;
  width: 100%;
  padding: 40px 0 80px 0;
  background: linear-gradient(#0A142E, #060E22); }
  .win-roadmap .h3 {
    position: relative;
    display: flex;
    max-width: 1260;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 46px;
    font-weight: 600;
    color: #FFF; }
    .win-roadmap .h3:before {
      position: absolute;
      left: calc(50% - 20px);
      bottom: 0;
      width: 40px;
      height: 4px;
      content: '';
      background: #FBC509;
      border-radius: 2px; }
  .win-roadmap .grouped {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    padding: 0 10px; }
    .win-roadmap .grouped:before {
      position: absolute;
      bottom: 0;
      z-index: 1;
      left: 20px;
      width: calc(100% - 40px);
      height: 2px;
      content: '';
      background: #48658C; }
    .win-roadmap .grouped:after {
      position: absolute;
      bottom: 0;
      z-index: 2;
      left: 20px;
      width: calc(12.5% - 20px);
      height: 2px;
      content: '';
      background: #FBC509; }
    .win-roadmap .grouped .container {
      position: relative;
      margin: 0 10px;
      display: flex;
      width: calc(25% - 20px);
      padding-bottom: 40px; }
      .win-roadmap .grouped .container .dd {
        position: relative;
        display: flex;
        z-index: 2;
        width: calc(100% - 44px);
        min-height: 100px;
        padding: 20px;
        font-size: 13px;
        line-height: 16px;
        color: #48658C;
        align-items: center;
        text-align: center;
        justify-content: center;
        border-radius: 15px;
        border: 2px solid #48658C; }
      .win-roadmap .grouped .container .phase {
        position: absolute;
        left: 0;
        z-index: 3;
        bottom: -40px;
        display: flex;
        width: 100%;
        height: 40px;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        color: #48658C;
        font-weight: 600; }
        .win-roadmap .grouped .container .phase .title {
          position: relative;
          z-index: 3;
          text-shadow: 0px 2px #060E22; }
        .win-roadmap .grouped .container .phase:after {
          position: absolute;
          left: calc(50% - 10px);
          top: -10px;
          width: 20px;
          height: 20px;
          border-radius: 10px;
          content: '';
          background: #48658C; }
        .win-roadmap .grouped .container .phase:before {
          position: absolute;
          left: calc(50% - 1px);
          top: -40px;
          z-index: 1;
          width: 2px;
          height: 40px;
          content: '';
          background: #48658C; }
      .win-roadmap .grouped .container.active .dd {
        width: calc(100% - 40px);
        color: #060E22;
        min-height: 104px;
        border: none;
        background: linear-gradient(180deg, #FBC509, #FFCF29); }
      .win-roadmap .grouped .container.active .phase {
        color: #FFF; }
        .win-roadmap .grouped .container.active .phase:after, .win-roadmap .grouped .container.active .phase:before {
          background: #FBC509; }
  @media screen and (max-width: 768px) {
    .win-roadmap .grouped {
      padding-top: 40px; }
      .win-roadmap .grouped:before, .win-roadmap .grouped:after {
        display: none; }
      .win-roadmap .grouped .container {
        width: calc(100% - 20px);
        padding-top: 40px;
        padding-bottom: 20px; }
        .win-roadmap .grouped .container .phase {
          bottom: inherit;
          top: 0; }
          .win-roadmap .grouped .container .phase:before {
            height: 60px;
            top: -20px; } }
  @media screen and (max-width: 576px) {
    .win-roadmap {
      padding: 20px 0 20px 0; }
      .win-roadmap .h3 {
        margin-bottom: 20px; } }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-family: 'Roboto', Helvetica, Arial, Verdana;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  font-size: 13px; }

body, html {
  min-width: 320px;
  height: 100%;
  background: #060E22;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  body ::-webkit-scrollbar, html ::-webkit-scrollbar {
    width: 10px; }
  body ::-webkit-scrollbar-track, html ::-webkit-scrollbar-track {
    background: #040916; }
  body ::-webkit-scrollbar-thumb, html ::-webkit-scrollbar-thumb {
    background: #101E41; }
  body ::-webkit-scrollbar-thumb:hover, html ::-webkit-scrollbar-thumb:hover {
    background: #48658C; }

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?68628374");
  src: url("../font/fontello.eot?68628374#iefix") format("embedded-opentype"), url("../font/fontello.woff?68628374") format("woff"), url("../font/fontello.ttf?68628374") format("truetype"), url("../font/fontello.svg?68628374#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

.wnk-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  line-height: 1;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*# sourceMappingURL=style.css.map */